[2013-06-04 06:50] jnbdz opened #5 "Namespace is wrong for Laravel 4"
I have been trying out this repo with Laravel 4.

I was able to make it work. But I had to modify some of the code.

Everywhere this "\OAuth2[...]" appears I had to add "\League" to it to finally get the code to work.

I don't know if this is a mistake or it's just Laravel 4.

Anyways, it's an easy fix.

[2013-06-06 17:43] pnomolos opened #7 "Add 0.2 to packagist"
Wondering if you'd be willing to add the 0.2 tag to packagist so that I don't have to require "dev-master" in a package that depends on yours.  Thanks! :)

[2013-06-11 11:50] ghost opened #8 "Needs a license"
Needs a license file adding to the code as well as copyright info and acknowledgements to JISC and university of Lincoln (same as server code).

[2013-07-08 22:08] jnbdz opened #9 "Not getting all the information from Github API."
For some reason I cannot get the email of my GitHub.

I tried to dig in the code did not find anything.

I even added the scope:

[code]

I also tried:

[code]

I get NULL.

It also seems that other information are not loading:

[code]

[2013-07-09 18:10] scottzhang opened #10 "A bug in IdentityProvider.php getAccessToken function"
getAccessToken($grant = 'authorization_code', $params = array())
    {
        if (is_string($grant)) {
            $grantPath = 'League\OAuth2\Client\Grant\'.ucfirst(str_replace('_', '', $grant));

[code]

....
  return $grantObj->handleResponse($result);
This is my fix. The problem is the pass in $grant get override by the class path, then become the grant object. Then the grant object assigned

[2013-07-09 18:12] #10 closed, assigned to nobody

[2013-07-12 15:35] cyrusdavid opened #11 "Tests?"
Hi,

The tests are missing.

[2013-07-25 08:11] bas87 opened #12 "Login via Twitter"
Hi,
do you have any plan to add support for Twitter ?
Your oauth2-client is great, but i need Twitter :-)

[2013-08-18 16:05] rollbackpt opened #14 "Any prevision for LinkedIn or Twitter?"
First of all thank you for this awesome Library. I have used it today for the first time and was incredibly easy to login with all the 3 providers. Any prevision for LinkedIn or Twitter?

[2013-08-29 22:55] #14 closed, assigned to nobody

[2013-08-30 05:13] #12 closed, assigned to nobody

[2013-10-14 13:50] brayniverse opened #26 "Refresh Access Token"
I've written a custom refresh token grant for this package, is that something worth making a pull request over? Or are there plans to add this internally, if at all?

[2013-11-02 17:21] miguelgarcia7 opened #32 "Laravel"
How can I add this to Laravel 4. Do I need to update my composer.json file and if so, how would that look like?

I'm trying to find a simple oauth2 library to sign in with google.

[2013-11-09 11:26] brayniverse opened #33 "Separating Provider Query Building"
Because one query doesn't fit all, thank you facebook, would it be worth putting the query building process into a `getAuthorizationParams` method with sensible defaults that can be overwritten by any individual provider class?

The reason I'm suggesting this is because of @brunogaspar's comment from [this](https://github.com/php-loep/oauth2-client/pull/27) pull request.

By splitting it up you do

[2013-11-10 22:52] kjtocool opened #35 "Incorrect User Propertes in Google Class"
The userDetails function sets the $user->image property, which doesn't exist.  It should be setting the $user->imageUrl property.  The same error exists for the firstName and lastName properties.

I also found there was an invalid League\ in a namespace somewhere, though I can't confirm where that was.  I ran across it while working with the Google provider.

[2013-11-11 15:41] fedeisas opened #36 "Google Force Prompt"
Hi guys. I was wondering: why the default on Google Auth is force [approval prompt](https://developers.google.com/accounts/docs/OAuth2WebServer)?

Shouldn't we set it to `auto`?

https://github.com/php-loep/oauth2-client/blob/8335c7f0fb792b7d36ad7da245d19063862faefa/src/League/OAuth2/Client/Provider/IdentityProvider.php#L70

[2013-11-16 22:44] kjtocool opened #38 "Add Support for Google Refresh Token Use"
For anyone interested in adding support for Google refresh tokens, there are a few changes you have to make:

1) Add a new class in the Client\Grant folder named Refreshtoken

[code]

2) Modify the getAccessToken function of Client\Provider\IdentityProvider:

[code]

3) Fix the bug in the Client\Provider\Google (see my other issue related to this item)

4) Update the authorize function of Client\P

[2013-11-18 01:59] mrgodhani opened #39 "Linkedin Oauth 401 issue."
Is it possible to fix Linkedin oauth according to new turnaround as mentioned here http://developers.linkedin.com/blog/known-issue-401-errors-occurring-oauth-20-calls.

Currently in this library oauth parameters are posted as body. Instead can we directly make post request to following below url.

https://www.linkedin.com/uas/oauth2/accessToken?grant_type=authorization_code&code={auth-code}&redire

[2013-11-18 02:15] #36 closed, assigned to nobody

[2013-11-18 02:19] #8 closed, assigned to nobody

[2013-11-18 02:21] #9 closed, assigned to nobody

[2013-11-18 02:25] #26 closed, assigned to nobody

[2013-11-18 02:30] #33 closed, assigned to nobody

[2013-11-18 02:31] #38 closed, assigned to nobody

[2013-11-18 02:34] #32 closed, assigned to nobody

[2013-11-20 14:06] #39 closed, assigned to nobody

[2013-11-24 08:09] jnbdz opened #40 "Problems adding DropBox as a provider"
I tried to add DropBox as a provider.

Here is my code: https://gist.github.com/jnbdz/7624654

I was actually able to solve the problem quickly, but I think this is something you guys should think about for your next version.

To make DropBox work I had to comment out line 70:

    //'approval_prompt' => 'force' // - google force-recheck

The problem then is if I want to use Google it won't work a

[2013-12-03 11:57] Anahkiasen opened #42 "Add Twitter provider ?"
I was actually surprised this provider wasn't built-in, it this because of implementations differences between Twitter and the other ones or could it be easily added ?

[2013-12-03 12:01] #42 closed, assigned to nobody

[2014-01-16 11:06] sdh100shaun opened #48 "http_build_query optional args"
I ran into an issue when pushing the code onto a server cos the ini setting (arg_separator.output) was set to "&amp;". I was using the Facebook provider and because of this the query params were not recognised, past the first one obviously.  This was a reputable host (Joyent) so I wondered if this was an issue for others who would not be able to set the ini setting to "&". There are a couple of po

[2014-01-16 11:23] bitinn opened #49 "exit on authorize result in session lost in laravel"
this is a very interesting case. when we do oauth we tend to set a session key in laravel that indicate the user initiate an oauth.

but thing is, if `exit` is called, such session key won't be saved. I am pretty sure this is a laravel thing, but may also be  a general php _feature_?

nonetheless the easier solution is to avoid calling `exit` on `authorize` right?

see ticket laravel/framework#326

[2014-01-16 12:01] #48 closed, assigned to nobody

[2014-01-16 12:52] #49 closed, assigned to nobody

[2014-01-17 22:31] robertpitt opened #52 "Authorize does not validate state parameter"
So I noticed that when authorizing a a code we do not validate that the state returned matches that generated within getAuthorizationUrl.

You see we generate the code here

[code]

but within `getAccessToken` we do not validate it.

Was there any reason for this or was it just forgotten ?

[2014-01-23 03:38] cviebrock opened #55 "You need to change your github repo settings on packagist as well"
Your [Packagist entry](https://packagist.org/packages/league/oauth2-client) is still showing https://github.com/php-loep/oauth2-client as the homepage and source.

You should probably be changing that as well, since composer will fail with a 404 if they try and use `league/oauth2-client` in their projects.

[2014-02-06 18:23] matula opened #59 "Adding 'Authorization' to header in getUserDetails breaks for providers using the League's oauth2 server"
https://github.com/thephpleague/oauth2-client/commit/754250d3af736568876491f3a93eafd8978df1d3

"I am not sure if this will brake other requests to other providers or if they will just ignore this extra header?"

Using the PHP League's oauth 2 server, having  'Authorization: Bearer' in the header shows up as an empty auth token and throws a 403.

[2014-02-07 13:00] ghost opened #60 "it's works with Microsoft active directory 20008 ?"
Hello
can we use it with an Windows active directory 2008 server AD ?

Thanks

[2014-02-07 13:00] #60 closed, assigned to nobody

[2014-02-10 10:27] #59 closed, assigned to nobody

[2014-02-25 19:58] magnus-eriksson opened #63 "Missing response_type when authenticating with Google"
I ran into problem when calling $provider->authorize() with php 5.3.10. I kept getting "Missing response_type".

It turns out that the fourth argument, enc_type, used with http_build_query() wasn't available until PHP 5.4.

Would be great if the PHP dependency in composer.json was changed to >=5.4.0

[2014-02-25 19:59] #63 closed, assigned to nobody

[2014-02-27 16:34] beheh opened #64 "Add support for custom parameters for the authorization url"
Google allows the "custom" [`login_hint`](https://developers.google.com/youtube/v3/guides/authentication#Obtain_Access_Token) parameter when accessing the authorization url for applications to hint at an email address. This is helpful for users if the application knows the email address, the user would like to add Google as OAuth provider, but is not logged in or is logged into multiple accounts a

[2014-02-27 17:12] #64 closed, assigned to nobody

[2014-03-11 12:27] kevindierkx opened #65 "GrantInterface Exception always false"
The elseif statement checking if the $grant is an instance of Grant\GrantInterface always returns false since Grant\GrantInterface isn't even available.

Im talking about the following snippet:

[code]

Replacing `Grant\GrantInterface` with `\OAuth2\Client\Grant\GrantInterface` resolves the issue.
Is this correct or am I doing something wrong here?

[2014-03-11 15:14] dbollaer opened #66 "Identity Provider: Github enterprise support?"
Hello,

I was wondering if there is support for github enterpise?
I already tried extending github implementation, overwrite the url's.
But I keep getting the same exception:
 Required option not passed: access_token

Mar 11 15:52:10 simplesamlphp ERROR [f1e80aee5a] Backtrace:
Mar 11 15:52:10 simplesamlphp ERROR [f1e80aee5a] 4 /home/oauth-dev/vendor/league/oauth2-client/src/League/OAuth2/Client/To

[2014-03-30 22:51] marcorivm opened #67 "Error when user doesn't have a Facebook Username"
This happens when I try to login with a user which does not have a defined username on Facebook. https://github.com/thephpleague/oauth2-client/blob/master/src/League/OAuth2/Client/Provider/Facebook.php#L31
![image](https://cloud.githubusercontent.com/assets/1222598/2562740/b63820d2-b85d-11e3-8032-3ea38375de68.png)

[2014-04-01 06:09] genskjb2100 opened #68 "Getting bad server error"
$provider = new League\OAuth2\Client\Provider\Lis(array(
    'clientId'  =>  'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    'clientSecret'  =>  'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    'redirectUri'   =>  'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
));

Error msg.

Oops! An Error Occurred

The server returned a "500 Internal Server Error".

Something is broke

[2014-04-08 13:29] magnus-eriksson opened #69 "Adding tags"
Hi,

I really like this package, but I can't add it as a dependency for my own packagist package. Any chance you can make a version tag of the current master (if it is stabil enough) so I don't need to use dev-master with composer?
Or if someone has any other suggestion on how to do it?

[2014-04-08 21:03] #69 closed, assigned to nobody

[2014-04-24 02:46] TomHAnderson opened #73 "box.com integration"
https://packagist.org/packages/box/oauth2-client

The above code integrates box.com and includes the refresh token grant which is not included in the library today.  I'm fine with leaving this library as a second-level client but feel because of the grant it is worth considering and here offer it.

[2014-04-24 08:49] #65 closed, assigned to nobody

[2014-04-25 19:57] #73 closed, assigned to nobody

[2014-04-25 21:58] #11 closed, assigned to nobody

[2014-04-25 22:00] #67 closed, assigned to nobody

[2014-04-25 23:13] #55 closed, assigned to nobody

[2014-04-25 23:17] #66 closed, assigned to nobody

[2014-04-26 01:27] #5 closed, assigned to nobody

[2014-04-26 17:04] #68 closed, assigned to nobody

[2014-04-28 11:28] #7 closed, assigned to nobody

[2014-04-29 09:51] PavloPoliakov opened #79 "Unknown grant "League\OAuth2\Client\Grant\Authorizationcode""
Currently my ubuntu configuration is not able to find the file https://github.com/thephpleague/oauth2-client/blob/master/src/Grant/AuthorizationCode.php , because it was renamed.

File loading is case sensitive.

![image](https://cloud.githubusercontent.com/assets/839290/2827490/ccd07992-cf83-11e3-8ef9-5d7474c689b2.png)

Please, rename it back, or adjust the load logic.

[2014-04-29 13:15] #79 closed, assigned to nobody

[2014-04-29 20:04] assertchris opened #81 "Readme example faulty"
There's an undefined `$refreshToken`. Did you mean `$token->refreshToken`?

[2014-04-30 08:27] #81 closed, assigned to nobody

[2014-04-30 16:25] beheh opened #84 "getAccessToken() fails due to case sensitivity of class name/file"
On my local and remote linux system (case sensitive systems) $IdentityProvider->getAccessToken('authorization_code') fails, due to

[code]

(in Provider/IdentityProvider:108) not beeing able to find and autoload the "Authorizationcode" class. Upon checking the file, class name and file name are inconsistent, file name is "AuthorizationCode.php" while the class name is "Authorizationcode".

This mi

[2014-04-30 16:30] #84 closed, assigned to nobody

[2014-05-02 13:43] #52 closed, assigned to nobody

[2014-05-03 13:38] AlexandrZl opened #90 "Problem with callback"
Hello.
Following is authenticated through Google, I'm going to call back the action and I get the error: Unknown grant "League\OAuth2\Client\Grant\Authorizationcode"
In file /.../league/oauth2-client/src/Provider/AbstractProvider.php:113
A couple of weeks everything worked, but after the upgrade there is a problem.
Please, help me solved this problem.

[2014-05-04 17:51] #90 closed, assigned to nobody

[2014-05-04 17:53] #35 closed, assigned to nobody

[2014-05-05 11:08] xhezairbey opened #91 "Workaround to Retrieve Facebook Username"
Facebook Graph 2.0 lists username (along with locations, bio) field as deprecated.

But it's nice to have the username while we still can.

[code]

[2014-05-06 09:38] LukasGrebe opened #92 "Seperation of Concerns, User Data and Scopes"
Hi,

amongst several Providers, i'm using the Google Provider. However i have different Scope Requirements and do not need the scope `https://www.googleapis.com/auth/userinfo.email`.

However overwriting the Scope with my required Scope, results in the the exception `Undefined index: email` on `getUserDetails`

My Question is how should i handle this? is see several options:
1. Extend the `GoogleP

[2014-05-08 04:27] reypm opened #93 "How to integrate the library and use in PyroCMS module"
I'm working on a new Social module for PyroCMS and I'll like to use this library. Since PyroCMS don't use, yet, composer then I download the zip file and put in `/addons/shared_addons/libraries/oauth2` then I have `/src` and `/test` under that route. How I can autoload the library at `/system/cms/config/autoload.php` and how I can start using the library on my module?

[2014-05-12 13:56] younes0 opened #95 "Add third party Snip.ly"
Snip.ly PHP utilities: https://github.com/younes0/sniply

[2014-05-12 14:01] #95 closed, assigned to nobody

[2014-05-19 15:15] kkartunov opened #96 "Autoload ability"
Hi, thanks for this great library!

How one can/should autoload this lib when cloning it as a sub-module via git? Have searched the code base but did not found any autoload function to invoke when not using composer as dependency manager for instance.

[2014-05-19 17:16] #96 closed, assigned to nobody

[2014-05-22 13:55] benjisg opened #99 "README example uses wrong property names for access token properties"
The current README shows that you can access the property names of an access token object by using:

[code]

but the actual property names would need to be

[code]

[2014-05-22 17:00] #99 closed, assigned to nobody

[2014-05-23 05:10] objectivehtml opened #101 "AuthorizationCode.php file causing errors"
I just did a composer update locally and in the composer package, the class is Authorizationcode while the file is camel cases. It appears this is fixed in the repo. I was going to do a pull request, but the code in the repo was different than what I just pulled from composer. Just wanted to give you a heads up. Make sense?

[2014-05-23 10:57] Laroscamp opened #102 "How to integrate with codeigniter and mobile app or both"

[2014-05-23 22:05] #102 closed, assigned to nobody

[2014-05-30 03:14] reypm opened #103 "Using the library with three buttons"
So I have this three buttons in my page, one for Facebook, Google+ and forget Twitter since it's not supported by this library:

![5-29-2014 10-43-14 pm](https://cloud.githubusercontent.com/assets/627886/3126674/3c3beb2c-e7a8-11e3-90de-4824200e81d2.jpg)

And I'm trying to integrate your library in a module for PyroCMS where users should be able to login using their OAuth credentials trough Google+

[2014-06-03 17:45] X13454 opened #104 "Editing Scopes"
Hello,

First of all, congratulation for your package, I tried several oauth packages and yours is very accessible.

I'd like to know if there is a clean way to overwrite the default scope? I mean I could modify directly the files in the vendors (I'm using Symfony2) but I'd prefer not to touch them. Other option would be to extend the class?

Do you have any other idea? Something where the user co

[2014-06-09 18:27] aripringle opened #106 "Make error_description and error_uri accessible"
The OAuth2 spec allows for error_description and error_uri parameters in the error response (http://tools.ietf.org/html/rfc6749#section-5.2). The current implementation of IDPException doesn't expose these at all.

These details could arguably be added to the exception message, but I could see a use case for keeping the message with just the "error" key so it can be easily parsed. Would it make se

[2014-06-11 15:10] #104 closed, assigned to nobody

[2014-06-14 09:41] #93 closed, assigned to nobody

[2014-06-22 11:01] kolesar opened #110 "Keep session"
Hi,

How can I keep session (like in cookies) on client slide. If I made authentication mode with remember me parameter, what I should change in configuration for that. Default Laravel configuration Session is file type with lifetime 120minutes.

I tried to configure Guzzle cookie but without success.

[2014-06-26 19:59] jakelehner opened #112 "Issue with 'expires' logic in AccessToken entity"
I am using a custom provider I created to connect to our Oauth2 server. I believe I've identified an issue with the handling of the 'expires' parameter in the AccessToken entity constructor.

It first sets 'expires' by adding the current time to the 'expires_in' response from the server, as it should.

The issue is if the auth server sent back an 'expires' value, the $options['expires'] variable g

[2014-06-29 13:59] kamov opened #114 "file_get_content or cURL?"
Hi

I can't find into code which method you use for connect with provider,  cURL or file_get_content?

Thanks

[2014-06-29 14:33] GrahamCampbell opened #115 "Is Guzzle 4 On The Roadmap?"

[2014-06-29 15:02] #112 closed, assigned to nobody

[2014-06-29 17:34] #114 closed, assigned to nobody

[2014-06-29 18:00] #115 closed, assigned to nobody

[2014-06-30 06:54] kamov opened #116 "Twitter login"
Hi

I read here: https://github.com/thephpleague/oauth2-client/issues/12
that you have not integrate twitter because only oauth1

Now twitter have oauth2 for application-only authentication, do you think integrate it?

https://dev.twitter.com/docs/auth/application-only-auth

I read that you can:

[code]

you can "   Retrieve any user information;"
so you can also connect with it?

I am not 100% su

[2014-06-30 07:29] kamov opened #117 "token interact"
Hi

how to handle this:

[code]

I am not sure how to handle this and when.
I have implement with success the library as explained on example.
But not sure what is need accessToken, refreshToken and expires.

there is some documentation or example?

Thanks!

[2014-06-30 08:59] #117 closed, assigned to nobody

[2014-07-06 18:08] mrtomtom opened #120 "Stripe provider"
Are there any plans to add in Stripe as a provider?

[2014-07-11 03:54] 18601673727 opened #123 "League \ OAuth2 \ Client \ Exception \ IDPException Unknown Error."
Server side: Laravel4.2 + lucadegasperi/oauth2-server-laravel + Dingo/Api
Client side code:

[code]

Does anyone knows what's going on with these code?

[2014-07-13 05:39] harshdesai991 opened #125 "Cannot use object of type League\OAuth2\Client\Grant\Authorizationcode as array"
Hi,

I am using this library to login with linkedin and am able to go through sign in part of linkedin but while redirection my get access token code is not working. Here is my code:

$provider = new Linkedin(Config::get('social.linkedin'));
    if ( !Input::has('code')) {
        // If we don't have an authorization code, get one
        $provider->authorize();
    } else {
        try {

[2014-07-17 11:55] alexbilbie opened #126 "Version 1.0"
So this library is very popular however it contains a lot of crap and legacy code that doesn't conform to PSR standards and isn't using good modern development practises like dependency injection and such. Also I've neglected this project far too long and I want to change that.

This issue is to track progress of v1.0 of the library which will be a top down rewrite of the underlying code but will

[2014-07-29 15:05] #116 closed, assigned to nobody

[2014-08-06 12:05] TiMESPLiNTER opened #130 "Expires with oauth2-server"
I set up an environment with an OAuth 2 server using the `league/oauth2-server`. And a sample app which uses the `league/oauth2-client` lib for talking to the OAuth server.

But I think they're not compatible. Well this sounds a bit hard but there's an issue with the following section of code in `League\OAuth2\Client\Token\AccessToken`:

[code]

The thing here is that the OAuth lib of you sends bo

[2014-08-06 12:17] #130 closed, assigned to nobody

[2014-08-06 23:30] maknz opened #131 "Providers respond with gzip content on error, decoding fails"
I'm creating a provider for MailChimp. There is a weird problem that I think may be a fault (or feature) of Guzzle 3. For some reason, when there is a BadResponseException error, which gets caught by this block:

[code]

the gzipped response is not decoded.

After a bit of research, it turns out that Guzzle (via cURL) won't decode a response that has gzip encoding unless the request had the proper

[2014-08-07 07:30] #131 closed, assigned to nobody

[2014-08-22 09:47] ojhaujjwal opened #132 "Handling invalid authorization code"
The use case is: I use this library in a restful application. So, the authorization code is provided by javascript client(Angularjs app). Currently with invalid authorization code, `InvalidArgumentException` is thrown at `src/Token/AccessToken.php:38` with message:

[code]

[2014-09-05 21:25] felipecwb opened #134 "Value not overwrite options in AbstractProvider."
The properties of AbstractProvider don't overwrite when it's not assigned.

[isset() is the problem.](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L46)

What about `property_exists($class, $attr);`?

[code]

[2014-09-17 17:18] kamov opened #140 "Disinstall app from facebook"
Hi

When a user connect with facebook, facebook show this into apps tab of settings. And user can delete app from that page. It's possible that user delete app from our site?

thanks

[2014-09-23 10:58] nikmauro opened #142 "Google api send extra params to redirect URI"
hello i want to send params to google api, here the documentation from google.
How to do this?

https://developers.google.com/accounts/docs/OAuth2WebServer
state   Any string Provides any state that might be useful to your application upon receipt of the response. The Google Authorization Server roundtrips this parameter, so your application receives the same value it sent. To mitigate against cro

[2014-09-28 04:44] kamov opened #143 "refreshToken always null"
hi
refreshToken it's always NULL when connect with facebook.
Did you know how to fix this?

I would like refresh a token when expired.

thanks

[2014-09-28 10:09] #143 closed, assigned to nobody

[2014-09-28 16:20] #140 closed, assigned to nobody

[2014-09-28 16:24] kamov opened #144 "composer issue"
Hi

I have an issue with composer, which don't want load correctly the oauth2-client.

this is my composer.json:
{
  "require": {
    "php": ">=5.4"
    ,"league/oauth2-client": "~0.3"
    ,"swiftmailer/swiftmailer": "@stable"
    ,"ezyang/htmlpurifier": "4.6.0"
  }
}

the psr4 autoload generated is:

[code]

But I got an error message that library is not found, this:
Warning: require(/var/home/xx

[2014-10-09 06:32] raxan opened #145 "validate data coming from providers"
should we validate / sanitize data coming from providers or is already done by library?

[2014-10-09 07:55] #145 closed, assigned to nobody

[2014-10-14 08:57] bitinn opened #146 "Microsoft OAuth endpoint has changed"
It's been in transition for about 2 years, but recently the old endpoint finally starting to return error message (a vague message that doesn't help to debug issue).

The new endpoints are:

[code]

for authorize and token step respectively, the api for getting user data hasn't changed, but some attribute names have changed.

reference:
1. http://msdn.microsoft.com/en-us/library/hh243647.aspx
2. h

[2014-10-20 11:59] 0x1ad2 opened #147 "Unknown grant "League\OAuth2\Client\Grant\Authorizationcode""
## Situation

When trying to connect with the LinkedIn provider I will receive the following error: `Unknown grant "League\OAuth2\Client\Grant\Authorizationcode"`
## Possible solutions

I google'd the issue and found some other developers having the same problem.
- https://github.com/thephpleague/oauth2-client/issues/79
- https://github.com/thephpleague/oauth2-client/issues/90

I tried to apply al

[2014-10-20 18:45] #147 closed, assigned to nobody

[2014-10-20 18:56] #144 closed, assigned to nobody

[2014-10-22 08:17] NielsJanssen opened #149 "The 0.3.1 update broke BC"
By renaming the abstract class IdentityProvider to AbstractProvider in the 0.3.1 release, backwards compatibility was broken. This should never ever happen for an increment this small, the 0.0.1 increments should be used for minor updates and bugfixes. Anything that breaks compatibility should be a bigger increment. This is a common practice many applications (including my own) rely upon.

[2014-10-23 17:54] #149 closed, assigned to nobody

[2014-10-24 10:37] ojhaujjwal opened #152 "Update release notes"
From release notes of 0.4.0:

It does not say that IdentityProvider class has been removed.

And, it does not say that `League\OAuth2\Client\Provider\User` has been renamed to `League\OAuth2\Client\Entity\User`.

[2014-10-24 14:01] #152 closed, assigned to nobody

[2014-10-24 14:02] #120 closed, assigned to nobody

[2014-10-27 14:39] #125 closed, assigned to nobody

[2014-11-12 08:29] vishalmelmatti opened #159 "Does it support Resourse Owner Password Credentials grant type by default ?"
Hi,
In documentation I can see Authorization code grant type example and in code I see there is AuthorizationCode implementation of GrantInteface. So to use Resouse owner password credentials, do we need to implement GrantInterface ?

[2014-11-13 18:18] howlowck opened #160 "Provider Package for Meetup"
I made a [client provider package for Meetup](https://packagist.org/packages/howlowck/meetup-oauth2-provider).  I was wondering if you could add a link in your [readme](https://github.com/thephpleague/oauth2-client/blob/master/README.md) so people are aware. Or I can make a PR to this repo.

Thanks!

[2014-11-14 16:40] #160 closed, assigned to nobody

[2014-11-18 05:09] ghost opened #162 "LinkedIn pictureUrl isn't checked for null value"
When retrieving userDetails using the LinkedIn provider the pictureUrl in the response will be null if the user hasn't set a picture in his profile, and this isn't checked in the code (like it's done with, for example, email).
Not difficult to fix, just wanted to point that out.

[2014-11-27 22:15] ramsey opened #165 "Configurable uid option for Token\AccessToken"
Providers vary in how they return the `uid` property. Currently, we support four known names for this property (three for specific services), but as more services are found that use different names, we'll need to add them to this list.

To avoid an ever-growing list of hard-coded names, we should devise a way for developers to configure oauth2-client to use whatever name they're expecting to recei

[2014-11-28 18:41] #165 closed, assigned to nobody

[2014-11-28 20:29] #162 closed, assigned to nobody

[2014-11-28 20:52] #159 closed, assigned to nobody

[2014-11-28 20:58] #142 closed, assigned to nobody

[2014-11-28 21:13] #134 closed, assigned to nobody

[2014-11-28 21:33] #123 closed, assigned to nobody

[2014-11-28 21:51] #92 closed, assigned to nobody

[2014-11-28 21:52] #91 closed, assigned to nobody

[2014-11-29 04:26] #110 closed, assigned to nobody

[2014-11-29 21:40] #132 closed, assigned to nobody

[2014-12-02 20:34] tankerkiller125 opened #176 "Guzzle\Http\Client::sendMultiple() must be of the type array"
I am writing a custom Provider for my IPB forums since I recently made a OAuth2 plugin for it. Although the OAuth2 works fine using the Google Playground as well as many other tools I've used I'm getting the following error from my scripts Oauth2 Main page (in this case index.php). I might also add that this error only accours AFTER I get the authorization code.

![Tracy error](http://i.imgur.com/

[2014-12-03 16:32] ramsey opened #178 "Separate Vkontakte provider into a separate repo"
We want to separate providers into separate repositories, so that this library may focus solely on being an OAuth2 client, without needing to manage the minutia of hundreds of providers.

This issue is open for anyone looking for a way to make a contribution.

Please read the following, with regard to third-party providers:
- [Third-party Providers](https://github.com/thephpleague/oauth2-client#th

[2014-12-03 17:18] ralphschindler opened #179 "Explore possibility of configuration driven Provider for to the letter OAuth2 spec. custom servers"
Ideally support some workflow like:

[code]

[2014-12-04 15:15] #126 closed, assigned to ramsey

[2014-12-11 10:42] ketanshah79 opened #183 "Google Provider Execption: Argument 1 passed to League\OAuth2\Client\Provider\AbstractProvider::setResultUid() must be of the type array, null given,"
Hi there,

I am in process of integrating oauth2-client into my laravel app. I am using the "Authorization Code Flow" https://github.com/thephpleague/oauth2-client#authorization-code-flow to setup Google. I've setup correct client id/ secret from google. When google hits back on my callback url I get the following Error Exception

"Argument 1 passed to League\OAuth2\Client\Provider\AbstractProvide

[2014-12-11 11:11] #183 closed, assigned to nobody

[2014-12-15 17:09] NiLon opened #185 "Fetching server response from IDPException"
I'm creating provider for Twitch and when authorization code is invalid (for example) it will return "Bad Request" as error. When getting message out of IDPException it will return the "Bad Request". However inside IDPException is protected property result that will contain additional information about the error. This additional data should be fetchable from IDPException.
[code]
This message part

[2014-12-15 18:04] #178 closed, assigned to nobody

[2014-12-16 15:14] #101 closed, assigned to nobody

[2014-12-16 15:16] #146 closed, assigned to nobody

[2014-12-16 15:42] #103 closed, assigned to nobody

[2014-12-27 13:02] shameerc opened #190 "Call to undefined method GuzzleHttp\Message\Response::getInfo()"
I'm getting the following error when trying to use Facebook auth provider.

Fatal error:  Call to undefined method `GuzzleHttp\Message\Response::getInfo()` in vendor/league/oauth2-client/src/Provider/Facebook.php on line 33

Apparently this method has been removed from Guzzle Response in version 4.

[2014-12-28 16:13] wozzup opened #191 "github bad_verification_code"
Github return error:

[code]

[2014-12-28 17:48] #191 closed, assigned to nobody

[2014-12-30 17:40] sylouuu opened #193 "PHP errors on /oauth2callback for Google sign-in"
Hi,

I'm using Codeigniter.

I'm sign-in from `/auth/google` and I added your code to the controller, I just updated the provider array:

[code]

I have the confirm box, I accept. I'm redirected to `/oauth2callback` as expected. I've added the same code (just for testing) in that controller. `$_GET['state']` and `$_GET['code']` are filled.

Error is:

[code]

In the mentioned file, I've done some

[2014-12-31 17:04] codecowboy opened #195 "Is it possible to extend a supported provider?"
Is there a recommended way to add additional calls to a supported provider? For example if I want to make a LinkedIn API call to retrieve a person's skills :

https://developer.linkedin.com/documents/profile-fields#skills

Should I just create my own provider based on :

https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/LinkedIn.php

Or can I extend that provider somehow?

[2015-01-01 08:14] codecowboy commented on #195
Thanks for this :) Can you expand on what you mean by create a LinkedIn composer package? I am aware of and use composer but have not created my own packages. Thanks!

[2015-01-01 23:16] tpavlek commented on #195
You sure can!

But I wouldn't advise that - you can read more on the composer documentation page of course but the gist is: the vendor folder is volatile, stuff in there can be deleted at any point if composer determines it's an out of date or conflicting dependency. But you can use composer's autoloader no matter what the directory!

Say you created a composer package in a folder "src/LinkedIn" t

[2015-01-02 06:56] codecowboy commented on #195
@tpavlek thanks very much for that - really useful and helpful :)

[2015-01-02 06:56] #195 closed

[2015-01-06 16:06] ramsey commented on #193
I just pushed out 0.7.1 with the fix from #194. Does this fix your issue?

[2015-01-06 16:12] sylouuu commented on #193
I've switched to https://github.com/google/google-api-php-client

[2015-01-06 16:16] ramsey commented on #193
Reopening so I can try to track down the following error and fix it:

[code]

[2015-01-07 15:11] jbrooksuk opened #197 "GitHub Provider: Trying to get property of non-object"
In the GitHub provider I get this error:

[code]

[2015-01-07 15:12] jbrooksuk commented on #197
When I print out `$response` it's actually `null`.

[2015-01-08 20:43] jbrooksuk commented on #197
[code]

[2015-01-09 12:58] zot24 opened #200 "Authorization Bearer Header"
Hi there!

I'm trying to integrate [Freeagent](https://dev.freeagent.com/docs) as a provider to your OAuth2 library however they send the token on each request in the headers, so my idea was override your method [fetchProviderData](https://github.com/thephpleague/oauth2-client/blob/374c3d41db38d1d2d4071c58fa5515f58ea4566e/src/Provider/AbstractProvider.php#L317) to be able to receive the token in t

[2015-01-09 15:07] zot24 commented on #200
You'll find and example of what I was talking about on our [FreeAgent provider](https://github.com/CloudManaged/oauth2-freeagent) is exactly in this [bit](https://github.com/CloudManaged/oauth2-freeagent/blob/master/src/Provider/Freeagent.php#L53) where I injected the `Authorization Bearer header` for each call that the provider does.

[2015-01-09 18:04] zot24 commented on #200
Just to keep this update I decided to revert the changes I made in the PR and use the following approach instead which I reckon is more cleaner and don't need to change the actual code of [oauth2-client](https://github.com/thephpleague/oauth2-client/)

[code]

So we inject the needed details just after create the object and get the token.

[2015-01-09 18:19] ramsey commented on #200
Your solution looks good. Should I close the PR, then?

[2015-01-10 21:53] zot24 commented on #200
@ramsey I changed the PR and now is just and update for the README file pointing to our FreeAgent third party provider.

[2015-01-10 23:20] tankerkiller125 commented on #176
Any updates on this?

[2015-01-12 01:46] Flyingmana commented on #197
same problem, downgrading to 0.6.0 did resolve this issue for me

[2015-01-12 02:07] ramsey commented on #197
Thanks for the feedback. I'll see if I need to do a new release that rolls back the recent Google provider updates.

[2015-01-12 02:34] Flyingmana commented on #197
I dont see a major downside using an older version here at the moment, maybe now someone finds the exact problem with this information.
But first I would suggest to add a test to reproduce the problem.

[2015-01-12 03:57] re-24 commented on #197
[https://developer.github.com/v3/#schema](https://developer.github.com/v3/#schema)

[https://developer.github.com/v3/oauth/#web-application-flow](https://developer.github.com/v3/oauth/#web-application-flow)

It needs to be rolled back until `ca6745027a0c8b746cdf0eb075e6f206770875e2`

[2015-01-12 11:40] rbongerswux opened #202 "Graph API v2.x"
Facebook requires Graph API v2 by April 30.
Wil this be changed?

"You must upgrade this app to Graph API v2.x
v1.0 will be deprecated on April 30, 2015"

[2015-01-18 14:05] Jleagle opened #204 "No support for servers without curl"
I was unable to get oauth2-client to work on app engine without cURL. I presume this is down to using Guzzle v3 which is two major versions behind. I think v4+ is able to use other handlers to send requests.

[2015-01-19 04:54] ideadx opened #205 "When using google as provider: $provider->getUserDetails($token) throws Unknown Error"
Facebook works fine but same code while Googel as provider is throwing  Ohh dear users.login.google Exception: Unknown Error

here is what I am trying to do:
[code]
same code works fine when login using facebook.
Thank you.

[2015-01-20 10:13] kevindierkx opened #206 "User authentication with Password credentials grant fail with '@' in data"
User authentication with usernames or passwords starting with an '@' fail on Guzzle level.
This is because Guzzle expects strings starting with an '@' to be files.

[code]

Haven't tested it with newer versions of Guzzle but the above logic has been changed in newer versions.
I suggest updating to a Guzzle version that doesn't 'assume' things like this.

[2015-01-20 10:15] kevindierkx commented on #206
The above results in the following exception.

[code]

[2015-01-21 23:33] ideadx commented on #205
This changes fixed the issue: in /provider/google.php
[code]
but how can it be resolved by default?

[2015-01-23 08:25] DanielAdolfsson commented on #205
The current implementation works, but you have to enable Google+ API in the developer console first.

[2015-01-26 15:21] #197 closed

[2015-01-26 18:59] SammyK opened #212 "[Proposal] Add CSPRNG's to generate CSRF value"
Hey guys!

The [code that generates the CSRF value](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L123) makes use of `uniqid()` and `rand()` which do not generate **cryptographically secure** pseudo-random values. Since the CSRF (`state`) value is a security feature to guard against [forgery attacks](http://en.wikipedia.org/wiki/Cross-site_request_forg

[2015-01-28 15:20] rbongerswux commented on #202
Composer can't find any update

[2015-01-28 15:40] philsturgeon commented on #202
Click Subscribe on #210 and you'll be alerted when it's merged. Then you can request master from Composer **temporarily** or watch out for a new tagged version.

Either way, this will be resolved long before April. Don't worry!

[2015-01-28 15:40] #202 closed

[2015-01-28 16:36] philsturgeon opened #213 "Move Providers to their own Repositories"
- Eventbrite
	- [x] Find a maintainer
	- [x] Link in the README
	- [x] Remove from league/oauth2-client
- Facebook
	- [x] Make a new GitHub repo
	- [x] Link in the README
	- [x] Remove from league/oauth2-client
	- [x] Document any custom params
- Github
	- [x] Make a new GitHub repo
	- [x] Link in the README
	- [x] Remove from league/oauth2-client
	- [x] Document any custom params
- Google
	- [x]

[2015-01-28 21:16] SammyK opened #214 "[Proposal] Add locked-down peer verification for each provider"
Got another one for you guys. :)

# The Problem

Currently there is no [peer verification](http://curl.haxx.se/docs/sslcerts.html) for any of the providers meaning all HTTPS communication with the providers is more susceptible to [man-in-the-middle](http://en.wikipedia.org/wiki/Man-in-the-middle_attack) attacks.

# The Solution

Each provider should include a custom cert bundle for to verify the p

[2015-01-28 21:17] SammyK commented on #213
If #214 gets approved, this we might want to add, "Create a custom certificate bundle for peer verification," to all the providers in this list. :)

[2015-01-28 21:42] mtdowling commented on #214
Guzzle enables peer verification by default (using cURL). Guzzle 3 (the library this project seems to use) has a bundled CA cert, which has the potential to become outdated.

If this library upgraded to Guzzle 5, then this would be taken care of automatically for most users via their system CA bundles (when using cURL or PHP stream wrapper+PHP 5.6) or using the path to common CA bundle locations (

[2015-01-28 21:57] SammyK commented on #214
Hey @mtdowling! Thanks for chiming in. :)

Ah yes, I should have clarified that it's using the default peer verification CA bundle. But that's what I wanted to bring up is that these [really huge CA bundles](http://curl.haxx.se/ca/cacert.pem) in general seem to go unmaintained - especially down to the system bundle. Heck, we can't even get people to upgrade from PHP 5.2! Lol.

Correct me if I'm wr

[2015-01-28 22:03] ramsey commented on #214
The 1.0 branch is already running Guzzle 5. :-)

[2015-01-28 22:11] mtdowling commented on #214
I think that CA bundles bundled with client libraries go unmaintained as well. Let me provide a good example of how relying on the system bundle makes it easier to deploy client libraries to different servers. Amazon provides Amazon Linux which has it's own bundled CA certs. We can deploy the PHP SDK (v3) to these servers and use Amazon's custom CA bundle that's provided as the system default. We

[2015-01-28 22:24] SammyK commented on #214
The point I was proposing was related to security, not ease which unfortunately don't seem to go hand-in-hand often. :-/

I hear what you're saying that that certainly sounds like the best solution for that specific context. But this issue relates to peer verification to _one specific domain or set of domains for each provider_. So the idea is that we won't want to trust any other cert other than

[2015-01-28 22:54] mtdowling commented on #214
I'm not sure that what you're proposing is more secure. I think it becomes theoretically less secure because your application would now implicitly have to trust that the certs provided by the client library are up to date and not nefarious (I'm not saying the library authors would ever do something nefarious, but when it comes to security, you shouldn't have to make this assumption).

The point is

[2015-01-28 23:01] SammyK commented on #214
It'd probably be good to call out a few security nerds on twitter to confirm or deny if this proposal is worth it then. About to tweet... :)

So if I understand you're saying we'd be moving the trust from the system to the library. I'm guessing there are pros and cons to both methods but I'd really like to know which one is "officially" more secure though! :)

Thanks again for chiming in! :)

[2015-01-28 23:44] mtdowling commented on #214
Good idea! I'm definitely no security expert... Maybe we can find one to chime in.

[2015-01-28 23:45] SammyK commented on #214
Yay community. (Thanks for the RT too) :D

[2015-01-29 00:11] ramsey commented on #214
Ping @enygma and @ircmaxell. We'd like your security advice, please. See above thread. :-)

[2015-01-29 03:33] philsturgeon commented on #213
Forgot Vkontakte is already done: https://packagist.org/packages/j4k/oauth2-vkontakte

[2015-01-29 07:41] rdlowrey commented on #214
While whittling down the CA bundle to only those root CAs that sign the certs of your oauth providers is a good idea in theory I'm with @mtdowling on this: In practice you *probably* don't want to be responsible for maintaining and keeping these specific CA certs up-to-date yourself. But let's just say for argument's sake you do want to do this. The hard part is actually procuring the certs in a s

[2015-01-29 15:06] SammyK commented on #214
Wow @rdlowrey! Thanks for such an amazing response! :D

That sounds like an excellent idea and it addresses the original security issue I was trying to point out. I'd like to close this issue and create a new one that suggests we use public key fingerprinting to validate the connection to the provider, but I have some implementation questions.

@ramsey What do you think about what @rdlowrey said h

[2015-01-29 17:14] rdlowrey commented on #214
FYI the automation to check cert expiration dates is pretty straightforward:

[code]

So you'd just need to pull out that expiry timestamp and use it however you like.

[2015-01-29 17:38] SammyK commented on #214
Thanks @rdlowrey!

Haha: `date_default_timezone_set('UTC'); // F U Derick` ...@derickr gets no love! :)

[2015-01-29 19:26] derickr commented on #214
You're not supposed to set defaults in a script... but rather in php.ini.

[2015-01-30 12:15] zot24 commented on #200
@ramsey Any update on this? The PR is just a modification for the documentation, let me know if you want me to change something. #201

[2015-01-30 14:36] #200 closed

[2015-01-30 14:37] ramsey commented on #200
Sorry for the delay. I've just merged it in. Thanks!

[2015-01-31 15:11] msimkunas opened #215 "Guzzle version"
Are there any plans to update this package to a newer version of Guzzle?

[2015-01-31 15:50] philsturgeon commented on #215
Yes indeed! Already done in the 1.0 branch.

https://github.com/thephpleague/oauth2-client/blob/1.0/composer.json#L7

[2015-01-31 15:50] #215 closed

[2015-01-31 15:55] msimkunas commented on #215
Thanks for the quick response. I had _mistakenly_ concluded to myself that the 1.0 branch was an older version of this package.

[2015-01-31 16:10] msimkunas commented on #215
I have a question though. How do I install the 1.0 branch using composer? The branch alias seems to be the same in both branches.

[2015-01-31 16:18] ramsey commented on #215
Please don't use the 1.0 branch yet in production. We will be making breaking changes to it, and I don't want to cause you headaches. :-)

[2015-01-31 16:20] msimkunas commented on #215
Would you recommend installing the Guzzle 5.0 package separately? I don't really like the idea of having two different versions of it, but if that's the only way to go for the time being, so be it.

[2015-01-31 16:25] philsturgeon commented on #215
Just let the packages use whichever versions of Guzzle they want to use. It's much safer to have two packages using two different versions of Guzzle than it is to deploy a non-released development version. :)

[2015-01-31 16:26] ramsey commented on #215
Guzzle changed their namespace between versions to accommodate this use case. Just let Composer install what it installs, as Phil said. :-)

[2015-01-31 16:36] msimkunas commented on #215
Alright, thanks for clarifying. I was hoping there was a way to use a single package version, but the way you put it seems to be the way to go.
My only issue with this is that I may have to rewrite my custom OAuth 2 provider in the future. Will there be an upgrade process available?

[2015-01-31 16:40] ramsey commented on #215
We have quite a few third-party providers, and we're splitting out all the providers into individual packages for v1. So, yes, we'll need to provide an upgrade path to ensure things do not break the providers.

[2015-01-31 16:41] msimkunas commented on #215
Thank you for the quick response.

[2015-01-31 18:10] rdlowrey commented on #214
I have no doubt that @derickr is a lovely person, I just hate the timezone warning with the burning fire of a thousand Jovian red spots ;)

Which is my problem with the warning in the first place -- I don't personally like to be forced to use the php.ini (registry anti-pattern, BTW). So when I run without a php.ini (which is always) I'm forced to add the hack in my script.

I understand the reason

[2015-01-31 18:24] philsturgeon commented on #214
Said with all love for the two of you, this is not the time or the place for this discussion. 

[2015-02-01 22:46] mrgodhani opened #216 "Is there any way to disable approval_prompt"
Hi

I am trying to implement Dropbox oauth2 using this package. But unfortunately dropbox doesn't accept approval_prompt as one of their fields. So is their any way to disable that without manually digging into the code?

[2015-02-04 21:22] SammyK commented on #213
Boom! [Facebook Provider](https://github.com/thephpleague/oauth2-facebook) ready. Not sure how you want to transition removing it from this repo.

[2015-02-04 21:26] philsturgeon commented on #213
@SammyK nice! Just whip it out of the 1.0 branch and link it in the README.

[2015-02-04 22:13] SammyK commented on #213
I whipped it out...

[2015-02-05 21:55] dolfelt commented on #193
@ramsey I think the pull request #218 should fix the issue.

[2015-02-10 17:43] ramsey commented on #193
Can someone reproduce this issue and then switch to the 0.8.0 release to see if it fixes it?

[2015-02-12 12:11] jeteon commented on #193
I used to have the issue when I was using 0.7.2 even after enabling the Google + API in the developer console.

After upgrading to 0.8.0 I now get a fatal error:
`PHP Fatal error:  Uncaught invalid_client: invalid_client\n  thrown in {...}/vendor/league/oauth2-client/src/Provider/AbstractProvider.php on line 214`.

As far as I can tell Google redirects me with `code` and `state` GET parameters to

[2015-02-12 14:33] ramsey commented on #193
@dolfelt Can you reproduce this issue with 0.8.0?

[2015-02-12 14:44] dolfelt commented on #193
@ramsey @jeteon It appears that the error isn't related to this fix, or even the code. The exception is being thrown because an `invalid_client` error is coming back from Google. This means the error is being properly parsed and handled.

https://github.com/thephpleague/oauth2-client/blob/0.8.0/src/Provider/AbstractProvider.php#L214

It could be a number of reasons why it is returning `invalid_cli

[2015-02-14 11:26] jenssegers opened #222 "How do I request other API endpoints"
I don't know if I am missing something, but I can't seem to find out how to request other API endpoints than the user information.

[2015-02-14 15:10] philsturgeon commented on #222
The OAuth 2 client is just for oauth 2 clienting. It happens to hit their API, but other than that you're on your own.

All you need to do is grab the OAuth 2 token and put it in the header when you're making your Guzzle requests.

[2015-02-14 15:10] #222 closed

[2015-02-14 16:18] jenssegers commented on #222
Doesn't this kind of defeat the purpose of being an "oauth2 client"?

[2015-02-14 16:21] tpavlek commented on #222
OAuth2 is an authentication schema, not an API. If we were hitting the API
lots we'd call it an "API client".
On 14 Feb 2015 09:18, "Jens Segers" <notifications@github.com> wrote:

[2015-02-14 16:31] jenssegers commented on #222
Alright, I rest my case :)

[2015-02-14 17:01] philsturgeon commented on #222
Use the OAuth2 Client for your OAuth 2 interactions (get token, refresh token, etc) then use a HTTP Client for your HTTP interactions. 

You just need to slap ?access_token in the query string, or Authorization: Bearer <token> in the header.

You don’t want us to make another HTTP Client, because Guzzle is already extremely good. 

[2015-02-14 17:03] philsturgeon commented on #222
Sorry, my email client was busted and I didn't see you say "I rest my case" when I replied.

[2015-02-17 23:37] jeteon commented on #193
@dolfelt I am using it for full server side OAuth. I didn't really change anything but it suddenly works fine now even though I was getting the same error a few minutes ago. Maybe they changed something on the Google back end.

[2015-02-19 04:27] dolfelt commented on #193
@jeteon I guess I'm not sure. Either way, this is a much better approach than exploding the raw error response by line breaks.

[2015-02-19 07:46] mseshachalam commented on #205
Thanks man. Which api to use google plus or otherone ? The google plus api has limit on number of requests.

[2015-02-25 20:25] ramsey commented on #216
This was resolved in #220, so closing this issue.

[2015-02-25 20:25] #216 closed

[2015-02-25 20:28] ramsey commented on #206
Version 1.0 will use https://github.com/egeloen/ivory-http-adapter as a generic HTTP adapter, through which you may use Guzzle 5 or any other HTTP adapter it supports. Does this resolve this issue?

[2015-02-25 20:30] ramsey commented on #204
Version 1.0 will use https://github.com/egeloen/ivory-http-adapter, which allows you to use any number of HTTP adapters, as you like, including Guzzle 5.

[2015-02-25 20:30] #204 closed

[2015-02-25 20:30] #193 closed

[2015-02-25 20:32] ramsey commented on #190
The Facebook provider has been moved out of the 1.0 branch and is now maintained separately here: https://github.com/thephpleague/oauth2-facebook

[2015-02-25 20:32] #190 closed

[2015-02-25 20:41] kevindierkx commented on #206
Yeah, it should be resolved. The problem mentioned is purely the result of an outdated Guzzle dependency.

[2015-02-25 20:59] ramsey commented on #206
Great. Thanks!

[2015-02-25 20:59] #206 closed

[2015-02-25 21:00] ramsey commented on #40
I believe PR #220 has fixed this. If it's still not fixed, please reopen this issue.

[2015-02-25 21:00] #40 closed

[2015-02-25 21:01] ramsey commented on #176
I'm unable to reproduce this. Are you still having this problem in version 0.9.0?

[2015-02-26 20:38] tankerkiller125 commented on #176
I have not yet tested 0.9.0 however I will test it soon

[2015-02-27 11:16] reenl opened #230 "Invalid server response crashes client."
Hi,

If the client connects to a server that gives an invalid response, the client crashes.

[code]

If you consider this a bug I would be happy to create a pull request.

[2015-02-27 15:11] ramsey commented on #230
What are you proposing as a fix for this?

[2015-03-01 18:07] shadowhand commented on #222
I think that #232 will go a long way towards addressing this issue. I propose this be reopened and resolved through documentation. For instance, here is a snippet of code I was able to use with my pull request applied:

[code]

This code exists inside of a trait that I can use with any oauth2-client provider, reusing the internal clients, headers, etc. I have similar methods for `POST`, `PUT`, etc

[2015-03-01 18:28] jenssegers commented on #222
For a project of mine I did something similar. I created a trait that added a `request` method, but because none of the providers have a base api url, I had to extend every provider and add it.

My method looked something like:

	public function request($endpoint, $method = 'GET', $body = null, array $headers = null)
	{
		try
		{
			$accessToken = $this->retreiveAccessToken();

			$uri = $this->ur

[2015-03-05 01:12] peterdd opened #234 "Please make it php5.3.* compatible"
Composer installs only 0.3 version of this library, because all version after that require php5.4.0 or later.

But that version has problems with lower/uppercase name.

php cli 5.3.3
php web 5.3.28

My workaround is

    cp AuthorizationCode.php  Authorizationcode.php

But that is no solution for a new Flyspray release we plan.

[2015-03-05 01:22] ramsey commented on #234
One of the League requirements is that the packages be PHP 5.4+. Additionally, the class name is correctly `AuthorizationCode`. Why do you need to make the "C" lowercase?

[2015-03-05 01:42] tpavlek commented on #234
The bug he's referring to is one that was around before you took over @ramsey. There was an open bug where it didn't properly uppercase the C in authorization code for the default grant type.

@peterdd since 5.4+ is the minimum for the package now, your only solution is the one you presented, or you can fork the project and make changes to `AbstractProvider`. You want to change the getAccessToken

[2015-03-05 01:52] rakeev commented on #234
Why not simply fix classname capitalization and tag as 0.3.1?

[2015-03-05 01:54] peterdd commented on #234
The current active devs at https://github.com/Flyspray/flyspray aren't experienced with that composer stuff. php5.2.* and php5.3.* is still wide spread on hostings and we want Flyspray be very easy to install and userfriendly.

This oauth2-client seems so far the only showstopper on php5.2.* or php5.3.* environments, so if you know a solution that we can until the release we plan around end this m

[2015-03-05 02:42] tpavlek commented on #234
I'm not sure if @ramsey wants to tag, but I went ahead and fixed this over here: https://github.com/tpavlek/oauth2-client.

@peterdd here is how you can fix this for your projects. First, go to the above link, I've already performed the capitalization fix and tagged a 0.3.1 release. In the upper right hand corner, click fork, and create a new fork of that project in your account.

You should now b

[2015-03-05 23:58] peterdd commented on #234
Yeah, best way would be a official 0.3.1 version and composer chooses this version when the user with php <5.4.0 version install Flyspray.

Users with newer php versions should be on the offical channel, maintaining additional an own repository of oath2-client sounds a bit painful.

[2015-03-09 19:50] peterdd commented on #234
I tried to make a branch "php5.3 compatible" .

But now this dumps Travis CI: https://travis-ci.org/thephpleague/oauth2-client/builds/53698862

    PHP Fatal error:  Using $this when not in object context in /home/travis/build/thephpleague/oauth2-client/test/src/Provider/AbstractProviderTest.php on line 90

Could someone please dig into this and fix it for working all versions php5.3 to current te

[2015-03-09 19:54] tpavlek commented on #234
I'm just going to put it out there that you're asking for support for an unsupported version. The entire purpose of not supporting old version of PHP is so that the maintainers of the project don't have to support it. It's rather cyclical.

Ramsey might do that. I wouldn't if I were him. Since you want to use the package in the long-haul with an unsupported version of PHP, maintaining your own for

[2015-03-09 22:12] ramsey commented on #234
As I said earlier, PHP 5.4+ is our minimum version. League packages right now are setting that as their baseline, and we will support PHP 5.4+, but not earlier. Sorry.

As @tpavlek suggested, this is a good case for maintaining your own fork of the project. You may still use your fork with Composer.

[2015-03-10 19:09] #185 closed

[2015-03-10 19:10] ramsey commented on #106
Implemented in #229.

[2015-03-10 19:10] #106 closed

[2015-03-10 19:11] #234 closed

[2015-03-10 19:11] ramsey commented on #230
Ping, @reenl.

[2015-03-10 19:13] ramsey commented on #205
@ideadx, Did enabling the Google+ API fix this issue for you?

[2015-03-10 19:14] ramsey commented on #176
@tankerkiller125, Were you able to test this?

[2015-03-10 19:19] peterdd commented on #234
:-(

[2015-03-11 04:20] mseshachalam commented on #205
@ramsey yes. enabling Google+ API fixes this but it has a limit on number of calls.

[2015-03-11 12:11] vimishor commented on #230
@ramsey I proposed a solution in PR #236 .

[2015-03-11 13:40] #230 closed

[2015-03-11 13:45] ramsey commented on #205
Thanks. For v1, we'll be splitting out the Google provider into its own package, and those who maintain it will be able to determine how to move forward with it. In particular, I've heard that Google has announced that they will be retiring Google+, so I'm not sure what that means for the Google+ API. We'll need to figure that out, once this is split out to it's own project.

[2015-03-11 13:45] #205 closed

[2015-03-11 16:37] reenl commented on #230
Hi sorry for not responding, somehow I did not get notifications for this, I'll check my settings. Thanks @vimishor

[2015-03-13 05:24] shadowhand commented on #213
I volunteer for Google, but would want it to be under the League's account.

[2015-03-13 07:18] marcojanssen opened #237 "User Entity cannot be set"
The User Entity for all the providers are tightly coupled and have no way to be injected or set when retrieving the user details. The only way now is to inherit the provider in our own concrete and override the method, which is not something i prefer.

[code]

In case of LinkedIn there are more user details we can extract when a r_fullprofile scope is provided.  Are there plans to implement this a

[2015-03-13 07:51] marcojanssen commented on #237
As an alternative we can also allow the response or the extra fields to be set in the User entity.

[2015-03-13 13:56] ramsey commented on #237
Good recommendation about the User. I'll add this to the 1.0 milestone. If you do submit a pull request for it, be sure to do it against the 1.0 branch.

Thanks!

[2015-03-21 16:33] stevenmaguire commented on #213
If #242 is merged, we can cross Eventbrite off this punch list.

[2015-03-21 17:07] stevenmaguire commented on #213
If #243  is merged, we can cross Microsoft off this punch list.

[2015-03-21 17:11] philsturgeon commented on #213
@shadowhand I've made https://github.com/thephpleague/oauth2-google and you've got admin access for that along with @ramsey of course.

Consider yourself the maintainer for Google.

If you want to take up any others then let me know!

[2015-03-21 17:14] shadowhand commented on #213
@philsturgeon :joy_cat:

[2015-03-21 17:15] philsturgeon commented on #213
@shadowhand would you take Github, Instagram and LinkedIn? I know LI isn't the most exciting thing in the world but it would be great to get these last ones moved out.

I'll make any repos for providers you claim.

[2015-03-21 17:17] stevenmaguire commented on #213
I am happy to help.

[2015-03-21 17:22] philsturgeon commented on #213
Lay claim!

[2015-03-21 17:37] stevenmaguire commented on #213
I will take LinkedIn, since it isn't as exciting. If @shadowhand does not take the others, I don't mind. These projects are not highly complicated to maintain.

Will LinkedIn need a League repo? If so, please set it up and let me know. I will happily take care of this.

[2015-03-21 17:40] philsturgeon commented on #213
@stevenmaguire here you go! https://github.com/thephpleague/oauth2-linkedin

[2015-03-21 17:41] philsturgeon commented on #213
keep the others as third party, but linked in can be an official one.

[2015-03-21 17:47] stevenmaguire commented on #213
Sweet. I am on it.

[2015-03-21 18:25] stevenmaguire commented on #213
LinkedIn custom params documentation should be taken care of now.

https://github.com/thephpleague/oauth2-linkedin

I only focused on the `scopes` param, as they are definitely a corner case for typical usage. The `fields` param is accessible, but appears to only support hydrating the generic user object, so encouraging usage that is different from the default may not be needed in the documentatio

[2015-03-22 05:27] shadowhand commented on #213
@stevenmaguire thanks for taking Instagram and LinkedIn... I wasn't keen on taking ownership of providers that I don't actively use.

[2015-03-22 17:12] stevenmaguire commented on #213
I haven't taken Instagram; only LinkedIn. I accept your nomination however, intentional or not ;)

@philsturgeon could you create a repo for Instagram and set me up as an admin? I will maintain that package as well.

[2015-03-22 18:40] shadowhand commented on #213
@stevenmaguire oops, I thought I could create it for you, but I don't have permissions to set up the team properly. https://github.com/thephpleague/oauth2-instagram @philsturgeon can you fix the permissions please?

[2015-03-22 18:44] philsturgeon commented on #213
@stevenmaguire you have access now.

[2015-03-23 01:07] philsturgeon commented on #213
@shadowhand @stevenmaguire could you two look into updating the oauth2-client documentation to match what Omnipay has done?

http://omnipay.thephpleague.com/gateways/official/
http://omnipay.thephpleague.com/gateways/third-party/
http://omnipay.thephpleague.com/gateways/build-your-own/

[2015-03-23 16:19] stevenmaguire commented on #213
I still only have read access to https://github.com/thephpleague/oauth2-instagram

[2015-03-23 20:25] mastermike14 opened #249 "AbstractProvider::getAccessToken has no default response type"
this can cause an issue when the response type isnt equal to 'json' or 'string'. For example ive been using this for the Trakt.tv API and the response doesn't match either of the two which causes a NULL response to be returned.

[2015-03-23 23:34] ramsey opened #250 "Official oauth2-client website"
We need one.

[2015-03-24 03:34] shadowhand commented on #213
@philsturgeon can you update the task description so that we know where we're at?

[2015-03-24 03:37] shadowhand commented on #213
@philsturgeon where would I update the documentation for oauth2-client? I did a quick search and couldn't find any matching repos...

[2015-03-24 04:08] stevenmaguire commented on #213
@shadowhand PR #248 includes some updates to the documentation that includes the tabular format for official and third party providers. This PR will merge into the 1.0 branch. It was discovered that the oauth2-client does not have a website on the League website. There is now an issue for that.

[2015-03-24 15:49] philsturgeon commented on #213
@shadowhand I don't know what you lot have done so let me or @ramsey know what to update.

Documentation will go in a gh-pages branch when @ramsey gets around to it, as part of 1.0.

[2015-03-24 15:53] stevenmaguire commented on #213
@philsturgeon

LinkedIn -> `Document any custom params` is complete.
Instagram -> Code is ready to commit to new repo then `Remove from league/oauth2-client` can be done. I need admin/write access to repo.

[2015-03-24 15:55] philsturgeon commented on #213
@stevenmaguire can you PR instagram removal from oauth2-client?

[2015-03-24 17:24] stevenmaguire commented on #213
@philsturgeon I sure can. I'd like to be sure that the code exists in its new home also.

[2015-03-24 17:30] stevenmaguire commented on #213
#251 is in!

[2015-03-24 17:34] ramsey commented on #250
@philsturgeon, is there a standard format or template for League gh-pages websites?

[2015-03-24 17:46] philsturgeon commented on #250
I completely forget how it works, but @reinink is the man to ask.

Lets get something up on the wiki.

[2015-03-24 18:11] reinink commented on #250
Yep, you can find the instructions [here](https://github.com/thephpleague/theme.thephpleague.com).

Good call, will do!

[2015-03-24 19:18] ramsey commented on #250
I've got the basic stub up in the `gh-pages` branch now. http://thephpleague.com/oauth2-client/

[2015-03-24 19:49] reinink commented on #250
Nice. Easy enough?

[2015-03-24 19:54] tpavlek commented on #250
Why is this site a subdirectory of thephpleague where all other projects
are subdomains?

On Tue, Mar 24, 2015 at 1:49 PM, Jonathan Reinink <notifications@github.com>
wrote:

--
Troy Pavlek.
Crayon Connisseur and Respected Gentleman.

[2015-03-24 19:55] reinink commented on #250
That's just the default GitHub Pages behaviour. We'll get the subdomain setup later.

[2015-03-24 19:58] ramsey commented on #250
It was easy enough.

[2015-03-26 22:30] SaifurRahmanMohsin opened #253 "Cleaner way to throw InvalidArgumentException"
I think it's a bad idea to use print_r() directly to append the exception message. In my application, I have to use explode and extract the error message such as **This_authorization_code_has_expired_** rather than directly getting it.
https://github.com/thephpleague/oauth2-client/blob/6930258/src/Token/AccessToken.php#L38-L41

[2015-03-26 22:38] ramsey commented on #253
That is indeed odd. Adding it to the 1.0.0 list. Thanks for reporting this!

[2015-03-30 14:36] vishalmelmatti opened #254 "Basic http auth headers are not set in POST curl request"
Hi,

My API test server is behind basic http auth. I have implemented my custom provider and trying to POST request with Basic http auth headers. The prepared POST request do not pass headers. How these headers can be set ?

[2015-03-30 22:14] stevenmaguire commented on #213
@philsturgeon could you please promote me to an admin for the oauth2-instagram repository? I have code for that project; it's currently empty!

[2015-03-30 23:24] philsturgeon commented on #213
Done!

[2015-03-31 17:35] stevenmaguire commented on #213
Moved!

[2015-04-01 21:39] kevindierkx commented on #237
May a suggest the way illuminate/database handles it's [model](https://github.com/illuminate/database/blob/master/Eloquent/Model.php) attributes, it's using a clean way to access dynamic attributes in both an array and object manner. Give me a heads up if you would like me to implement something like it.

[2015-04-01 21:40] ramsey commented on #237
How does illuminate/database handle it's model attributes?

[2015-04-01 21:45] kevindierkx commented on #237
In a nutshell. During creation of the model using the ```__construct``` or after a query call it utilises the ```fill()``` method provided in the model to fill the ```$attributes``` property. This in turn is used with the ```__get()``` and ```__set()``` methods.

[2015-04-02 07:21] marcojanssen commented on #237
Might be worth a try, was thinking of setting a dynamic path and then map the objetc towards that

[2015-04-02 07:34] kevindierkx commented on #237
I'll make a fork this evening (GMT+0001). ;)

[2015-04-02 07:43] marcojanssen commented on #237
@kevindierkx If you need some help, give me a ping

[2015-04-02 14:09] bajb commented on #254
We also have the same issue, and have had to duplicate the getAccessToken method into our provider.

I believe its due to headers being set to null for GET and POST requests.  Not sure if it was intentional or not.

[2015-04-02 15:00] ramsey commented on #254
Looks like it's just been that way since the beginning of the project (at least for the POST line). It looks like you added the `$client->get()` line originally here:

https://github.com/thephpleague/oauth2-client/commit/85d88a449eaf253b64a3803474cbe67e8c68b577#diff-58d25fe37b0dacc76bd6b7373506e480R182

:-)

[2015-04-02 15:01] #254 closed

[2015-04-02 15:12] ramsey commented on #254
I just tagged release 0.10.1 that provides the fix for this. Thanks, @bajb!

https://github.com/thephpleague/oauth2-client/releases/tag/0.10.1

[2015-04-03 08:57] kevindierkx commented on #237
Just a heads up, I was working on this last night but I stumbled against some authorization issues accessing the user details. Most likely a small issue with the request, I have it working with an older version of this package. The current implementation of the HttpAdapters makes it a bit of a pain to get the raw request. @marcojanssen Any tips on getting the raw request?

[2015-04-03 18:19] jaydiablo opened #256 "Calls to IDPException inconsistent?"
Had an issue today where upgrading from 0.6.0 to 0.10.1 was causing google authentication to fail.  This by itself isn't relevant to this ticket (we had to enable the google+ api in our app), but it did get us digging around a bit, as the error message in IDPException wasn't helpful ("Unknown Error").

In AbstractProvider a BadResponseException exception is caught (in the fetchProviderData method)

[2015-04-03 18:42] marcojanssen commented on #237
@kevindierkx not sure what you mean, could you give me a better example of your problem?

[2015-04-08 14:24] kevindierkx commented on #237
@marcojanssen  I'm having problems with the Authorization headers, my testing backend won't recognise the Authorization header. Older installations of the oauth2-client don't have this problem. I'm still trying to pinpoint the exact problem and cause.

[2015-04-08 14:33] GawainLynch commented on #237
@kevindierkx I was looking at this over the weekend and ran out of time. One thing I did notice was that the `grant_type` that gets set in `AbstractProvider::getAccessToken()` doesn't seem to get cast to a string somewhere in the provider resulting (for me at least) in an invalid Authorization header.

That's about where I stopped looking.

[2015-04-08 14:57] kevindierkx commented on #237
@GawainLynch Well that could explain why the authorization server can't authenticate. Will take a look, thanks!

[2015-04-08 16:42] stevenmaguire commented on #213
Would you like me to take care of Github to close out the punch list?

[2015-04-08 16:45] ramsey commented on #213
@stevenmaguire That would be great!

[2015-04-08 16:49] stevenmaguire commented on #213
It appears to be a League sanctioned repo. Can you create the repo and set me up with permissions?

[2015-04-09 19:57] kevindierkx commented on #237
@marcojanssen @GawainLynch After some debugging using the default curl adapter I've noticed the headers are set in a 'headers' header.

Does anyone know why this could happen?
[code]

[2015-04-09 20:28] kevindierkx commented on #237
@marcojanssen @GawainLynch Got it! The ```fetchProviderData()``` method in the ```AbstractProvider```  class is using the ```get()``` method from http adapter client. This is fine but the second parameter expects an array of headers. The ```AbstractProvider``` provides an associative array adding all headers under a ```headers``` key. This breaks authentication with my testing backend. Making a pu

[2015-04-10 03:37] GawainLynch commented on #237
Awesome stuff @kevindierkx

[2015-04-10 05:14] pierrejoye opened #259 "Normalize meta?"
hi,

Thanks for taking over this great component :)

not sure it is by design or a bug, but it seems the Entity User does not match with the github provider result, forcing to extend it:

https://github.com/jubianchi/pickleweb/blob/master/src/Auth/GithubProvider.php#L9

it would be handier to have the mapping in the provider response handler instead. Or?

[2015-04-10 06:25] kevindierkx commented on #259
Working on a somewhat different solution in #237

[2015-04-10 08:09] marcojanssen commented on #237
@kevindierkx ah that was the problem, nice

[2015-04-13 13:45] ramsey commented on #256
Thanks for the well-researched issue, and sorry it's taken me a while to get back to it.

I can't answer why we're currently grabbing the last element with `end()` and passing that into IDPException. That does look wrong.

It looks like IDPException is looking for three keys in the `$result` array passed to it, and it can also accept a non-array, which, as you've pointed out, results in an "Unknow

[2015-04-13 13:48] ramsey commented on #249
Can you provide an example of how Trakt.tv responds?

This seems related to my thoughts on #256 about providers not following the OAuth2 spec.

[2015-04-13 13:49] ramsey commented on #213
@stevenmaguire I think @philsturgeon will need to create the repo.

[2015-04-13 14:34] philsturgeon commented on #213
Done! https://github.com/thephpleague/oauth2-github

[2015-04-13 17:00] jelkevdh opened #260 "Move to guzzle 5"
Installing this client I get the message that Guzzle 3 is deprecated.
Is it an idea to see if an up-to-date version of Guzzle can be supported?
<code><pre>composer require league/oauth2-client
Using version 0.10.* for league/oauth2-client
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
  - Installing guzzle/guzzl

[2015-04-13 17:04] ramsey commented on #260
We are moving to Guzzle 5 for the 1.0 release. The 0.x releases will remain on Guzzle 3.

Thanks!

[2015-04-13 17:04] #260 closed

[2015-04-13 18:25] stevenmaguire commented on #213
PR is in for Github #261

[2015-04-13 19:24] ramsey commented on #213
There are no longer any third-party providers in the 1.0 branch. Woooo!

[2015-04-13 19:24] #213 closed

[2015-04-13 19:30] stevenmaguire commented on #213
![party](http://axisofstevil.s3.amazonaws.com/stuff/burgerdown.gif)

[2015-04-15 11:48] vimishor commented on #256
Related to 57fbc1d43311430d69fd9cf187f64105caacc73e. @TomHAnderson

[2015-04-15 12:10] vimishor commented on #212
I'm not in a position to decide the future of this library, but I like the solution used in Facebook SDK.

[2015-04-15 13:41] ramsey commented on #256
Actually, it looks more like it's related to https://github.com/thephpleague/oauth2-client/commit/aa58cd48cdb59fc343abc8907dbcb7380528acda. Tom's commit just moved it to a different location.

[2015-04-15 13:44] ramsey commented on #212
It would be nice if the user could inject whatever CSPRNG they like into the library, so that we're not dependent on a single one. This would involve providing an interface and possibly a bundled implementation of an external library using that interface.

[2015-04-15 13:46] ramsey commented on #212
So, my answer to @SammyK's question is: "Yes, I would like to implement CSPRINGs similar to how Facebook does it."

[2015-04-15 15:19] vimishor commented on #256
Yes, you are right. It looks like I lack the search-fu today :)

[2015-04-15 15:22] alexbilbie commented on #256
@ramsey sorry Ben, I wrote this so long ago I can't remember, it might even be a legacy from Phil's original CodeIgniter library...

[2015-04-16 20:00] SammyK commented on #212
:+1: Adding this to my "TODO" list. :)

[2015-04-20 15:15] ramsey opened #265 "[RFC] Provider User Entity Interface/Abstract"
OAuth 2.0 does not define a User entity. However, we're providing an `Entity\User` class in this library. As a result of how various providers handle users and user data, we've had to modify this class numerous times to support each provider. Now that there are no more providers in version 1.0, it no longer makes sense to support a User entity that works for all the providers.

My recommendation i

[2015-04-20 15:17] ramsey commented on #237
Please take a look at #265 and offer any feedback, questions, etc. Thanks!

[2015-04-20 15:46] ramsey commented on #259
@pierrejoye See also #265, which I think will resolve this.

[2015-04-20 15:47] ramsey commented on #256
@jaydiablo, going to address this in v1.0. Thanks!

[2015-04-20 15:48] ramsey commented on #249
@mastermike14, ping. Can you provide an example, please?

[2015-04-20 15:50] ramsey commented on #212
@SammyK, I may start working on some of this in the 1.0 branch. Keep your eyes on it. Also, if you make any commits to your fork that are related to this, let me know. I'd prefer not to duplicate work. :-)

[2015-04-20 15:51] ramsey commented on #176
@tankerkiller125, ping?

[2015-04-20 15:53] SammyK commented on #212
Sounds good! :)

[2015-04-20 16:11] jaydiablo commented on #256
Good to hear!  Thanks!

[2015-04-20 17:01] kevindierkx commented on #265
I would suggest only supplying the bare minimum being: user_id, nickname, email, name (combination of first_name and last_name) and maybe an avatar.

[2015-04-20 18:42] marcojanssen commented on #265
@kevindierkx Bare minimum is in some cases not sufficient. If o authorized against a provider and i know and need the data that they provide, why wouldn't we provide acces to it?

https://github.com/hwi/HWIOAuthBundle
Uses paths for each different provider to get the required info

[2015-04-20 18:48] ramsey commented on #265
Please think of the "bare minimum" as the minimum needed for an interface that fits all providers. If there are outliers, these may be used in the provider-specific user entities themselves, even if the interface does not support them.

[2015-04-20 18:51] kevindierkx commented on #265
@marcojanssen I was talking about the UserInterface provided in the base package, the specific providers can add whatever they want in my opinion. They could even create a separate interface for those situations.
I don't think the base package should include a primaryContacts getter and setter in the UserInterface just because my API supplies one.

[2015-04-21 14:10] ramsey commented on #265
Sorry for the spam, but I'd like feedback from all the third-party provider maintainers, so I'm going to mention you all here. :-)

@SammyK @stevenmaguire @shadowhand @tpavlek @jasonvarga @zot24 @JC5 @rakeev @howlowck @deminoth @j4k

[2015-04-21 14:21] SammyK commented on #265
Bare minimum: `user_id`. I don't think we can make any more assumptions other than that. :)

For example, Facebook provides [anonymous login](https://developers.facebook.com/products/anonymous-login/) which only gives you a token that ID's a user until they choose to use normal login.

[2015-04-21 14:33] ramsey commented on #265
So, we're looking at an interface that looks a bit like this right now:

[code]

I won't try to enforce what the constructor looks like. That may be left up to the individual implementations. This just needs to be the bare minimum that should be expected on any provider user object.

Anything else?

[2015-04-21 14:37] SammyK commented on #265
I'd say the User entity needs to be immutable since there is no save functionality on the entity (as in update the user entity on the origin site). So I'd kill `setUserId()` and just have all the user data injected into the constructor.

[2015-04-21 14:42] ramsey commented on #265
That sounds reasonable. I agree.

[2015-04-21 14:58] tpavlek commented on #265
Sorry I haven't been too active in this discussion, since it does actively affect me.

All of my use-cases require a toArray function on the Entity object, and to that end, I would like to see it on the interface. I think if we're providing a default Abstract implementation of this interface (we should) it could simply `get_object_vars` and be done with it. Makes it easier to reason about what fie

[2015-04-21 15:06] SammyK commented on #265
A `toArray()` method doesn't have any relation to a user entity so to keep things "single responsibility" is shouldn't be on the `UserInterface`.

If you need `toArray()` it should be on a `Collection` class or something that manages data in a very general way. Then you could do this on your user entity:

[code]

Perhaps we could provide a base `Collection` class (or trait even) in the OAuth 2.0 C

[2015-04-21 15:09] ramsey commented on #265
I'd rather not get too complicated in providing a base `Collection` class. Again, that's out of scope of OAuth2. :-)

I think perhaps `UserInterface` could extend `IteratorAggregate`, though. This would force everyone implementing `UserInterface` to also implement the `getIterator()` method. But, like @SammyK mentioned, would all the providers need this functionality?

[2015-04-21 15:12] tpavlek commented on #265
@sammy Eeeeeeh, I don't want to start an internet argument here, but that
just seems a bit pedantic to me. Whether we acknowledge it or not,
pragmatically this class is going to be used as a data blob. People are
going to be setting properties in the constructor and then using public
getters to get it. Functionally the class is just an array by another name.

I'm not necessarily opposed to inherit

[2015-04-21 15:17] ramsey commented on #265
@tpavlek How do you feel about `getIterator()`. You could even have it return `new ArrayIterator($this)` to iterate over all the public properties, and you can call `getArrayCopy()` on that object to accomplish your `toArray()`.

The only problem I have with this is that I don't necessarily think every provider will want to treat their User model as an array, so that's why I want to hear from ever

[2015-04-21 15:20] SammyK commented on #265
So if offering a `UserInterface` and `User` entity. :) If you want to be really basic, just return a plain-old PHP array and let the user dump it into their framework's `Collection` object. That's not a bad idea actually... :)

I'm :+1: for this if we still want to go down the `User` entity support.

Too late! :) Just kidding.

I totally agree. That's why I think `getUserId()` is all we need and l

[2015-04-21 15:23] ramsey commented on #265
Are the providers the only things using this User object? Is there any need to use it internally in the base oauth2-client? Will end-users integrating with each provider need the ability to easily swap back-and-forth between User objects from various providers?

If so, then we do need to enforce some sort of contract. If not, removing it entirely from oauth2-client is preferred, and we let each pr

[2015-04-21 15:24] shadowhand commented on #265
I agree that this should be the complete interface:

[code]

Regarding the `toArray` method, I've mentioned before that I would like to see a `league/common` package that provides a number of common reusable traits, but I don't think this needs to be addressed within the scope of this issue.

[2015-04-21 15:29] SammyK commented on #265
Facebook for example doesn't return a user ID with the access token so having a `UserInterface` with just `getUserId()` is still useless at that point in the OAuth flow.

Maybe, but that sounds like a "Open ID login" edge case. The more I think about it the more I like just having it poop out an array and letting the user do what they wish with it. Otherwise we could be putting up barriers trying

[2015-04-21 15:34] tpavlek commented on #265
I accept that I'm in the minority here, and I'll just add toArray to my objects downstream :).

Re: Removing the object altogether, that sounds like a very **bad idea** to me. `getUserId()` is important because different providers return different things as the "id", and it's important to be able to specify that. If we don't allow users to specify it here, we'll need to make some method on the Pro

[2015-04-21 15:44] SammyK commented on #265
Indeed!

Why does the library need to know the user's ID? It shouldn't care about user data & just mindlessly return an access token, correct? At that point the developer can use `file_get_contents()` or their fav HTTP client to grab info using the access token.

A lot of times the developer might not even need any info on the user. I've had many cases where a user would authenticate their account

[2015-04-21 15:48] shadowhand commented on #265
@SammyK I have to agree with @tpavlek on this one, having the `getUserId` method is very useful for token storage, because it provides a consistent __interface__ for storage of tokens before moving out to a layer where we are making calls. It just helps with separation of concerns and that is a Good Thing™.

[2015-04-21 15:48] tpavlek commented on #265
@SammyK  That's a slippery slope argument - why doesn't the user just use guzzle and craft the OAuth 2 flow themselves? Obviously an exaggeration, but the point stands.

Meanwhile we get people dropping issues in here and on provider packages saying "Why doesn't this implement calling the API". I don't think end users of this package are looking for features to be stripped away in the name of "sin

[2015-04-21 16:04] SammyK commented on #265
Indeed! But only if you care about the user node. As I alluded to earlier, not all OAuth flows focus on the user who is authenticating (although probably most are). :)

My point about dropping the User entity isn't about single-responsibility. It's more about @ramsey's concern of keeping the lib focused on OAuth 2.0 Client flow only. There's nothing in the OAuth 2.0 flow that says you have to grab

[2015-04-21 16:49] ramsey commented on #265
I don't plan to "go all Stalin" on anyone. I'm just working on shepherding a good package, and I want something that makes it easy for anyone to build a provider against. :-)

[2015-04-21 18:20] stevenmaguire commented on #265
As a philosophy, I am in favor of reducing the responsibility of this package to its essential needs. The important question that I see here has been most recently articulated by @SammyK.

- Does the package include, beyond authentication and token management, an essential need to support a select list of additional data access helpers?
 - If so, does the select list need to be amended to include

[2015-04-21 19:25] ramsey commented on #265
IMO, the goal of the library should be to provide a full-fledged RFC 6749 compliant OAuth 2.0 client.

This includes supporting the following authorization types:

* Authorization Code Grant
* Implicit Grant
* Resource Owner Password Credentials Grant
* Client Credentials Grant
* Extension Grants (through extension of this library—not internal to the library)

The library should provide an out-of-

[2015-04-21 20:30] SammyK commented on #265
Nice! :)

Just a few more thoughts to consider regarding simple & easy (inspired by @weaverryan's talk at SunshinePHP a few months ago).

From a strategic standpoint, the current docs show how to obtain data on the authenticated user:

[code]

It's easy. You don't need to know what goes on behind the scenes for that to work. But it's not simple. There's a lot of grunt work going on to make that on

[2015-04-21 21:06] shadowhand commented on #265
@SammyK you bring up a really good point here, and I'd like to take it a step further:

One of the things that always bothered me about this library (and am moving towards solving with #232) is that it doesn't do very much to make **using** the provider APIs easier, it only gets us to the point of having an authenticated token.

I'll be very clear here and say that **the goal is not to create API

[2015-04-21 21:11] stevenmaguire commented on #265
+1 @shadowhand

I like the idea of an authenticated client. It is a mixture of education and helpfulness, while removing the need to assert our entity expectations on the possible use cases the consuming vendor specific providers may encounter.

[2015-04-21 21:13] tpavlek commented on #265
+1 @shadowhand

Though that should definitely return a `ClientInterface` ;)

[2015-04-21 21:19] shadowhand commented on #265
@tpavlek fixed. ;)

[2015-04-21 21:19] ramsey commented on #265
It sounds like `getAuthenticatedClient()` would just return a Guzzle client with the authentication headers/token already injected, right? So, I'm not sure we would need our own `ClientInterface`, unless we want to provide the ability for others to inject their own HTTP clients (that aren't Guzzle), but as I recall, that's what #224 did for us.

[2015-04-21 21:20] tpavlek commented on #265
@ramsey Guzzle has a ClientInterface. I meant to return that.

[2015-04-21 21:21] ramsey commented on #265
We're technically not using Guzzle. We're using https://github.com/egeloen/ivory-http-adapter.

[2015-04-21 21:23] shadowhand commented on #265
@ramsey ah yes, I forgot about that. In which case, we'd be using `RequestInterface`. I'll update my example.

[2015-04-21 21:23] stevenmaguire commented on #265
With @shadowhand solution in mind, would this package still support the following by requiring implementation of abstract method, then encourage implementers to use the `getAuthenticatedClient` method and return any payload they like for their vendor?

[code]

Is it any of our business to have an opinion about that?

[2015-04-21 21:27] tpavlek commented on #265
Frankly, I think we're getting off topic. I like the authenticated client idea, but I do **not** think it's mutually exclusive with the UserInterface, and I still think we should keep that.

I move we make a new RFC for returning authenticated clients.

[2015-04-21 21:28] ramsey commented on #265
@shadowhand If you want to go ahead and do a PR for the authenticated clients, we can use that as our "RFC" for discussion, or you can just open an issue. Your call. :-)

[2015-04-21 21:29] shadowhand commented on #265
Agreed. :) I plan on doing a PR for this in the near future, just haven't had time.

[2015-04-21 21:32] SammyK commented on #265
:+1: For authenticated client! :)

The authenticated client will remove the need for a User entity altogether unless you guys have a really good use case where it's needed. :)

[2015-04-21 22:08] ramsey opened #268 "[RFC] ProviderInterface::getAuthenticatedRequest() method"
This would give users of Providers a method that returns an already-authenticated HTTP client, using the token retrieved in the OAuth 2.0 flow. They may then use this client object to make authenticated requests of whatever provider API they are using, without the OAuth 2.0 Provider classes becoming API wrappers.

From @shadowhand in the comments on https://github.com/thephpleague/oauth2-client/is

[2015-04-21 22:09] ramsey commented on #265
@shadowhand I went ahead and opened an issue, so that I don't forget to nag you about that PR. ;-)

[2015-04-21 22:22] SammyK commented on #268
One possible tweak? :)

[code]

Then you'd also have the same function signature for POST, DELETE, etc. :)

[2015-04-21 23:01] shadowhand commented on #268
@SammyK the signature of my example is also consistent for every method. What makes yours more consistent?

[2015-04-21 23:11] ramsey commented on #268
I think @SammyK is advocating for just returning the HTTP client object rather than actually making the request, which is what it appears `getAuthenticatedRequest()` is designed to do.

I'm in favor of returning the HTTP client with all authentication details set on it and letting the user make any subsequent request they like.

[2015-04-21 23:12] ramsey commented on #268
So, maybe the method should be `getAuthenticatedClient()`?

[2015-04-21 23:12] shadowhand commented on #268
@ramsey that would be a misinterpretation... the PSR-7 `RequestInterface` is only a container, it would never actually generate a response until it is passed into a client with `send($request)`.

[2015-04-21 23:14] shadowhand commented on #268
I think I understand what the suggestion is, but I would prefer that the object coming out of `getAuthenticatedRequest` be a standard PSR-7 Request object with a pre-filled header or query parameter, depending on the provider's requirements.

[2015-04-21 23:18] ramsey commented on #268
Okay. I think I see where you are going, as well. Where does the `getResponse()` method come from? I don't see that on the `RequestInterface`.

[2015-04-21 23:33] shadowhand commented on #268
Oh that's just bad editing on my part. The `getResponse` shouldn't be there
at all.

[2015-04-21 23:35] ramsey commented on #268
Oops! I've edited the example and removed it. :-)

[2015-04-21 23:38] ramsey commented on #268
I've made a couple of more changes to the variable names on the example that I think make it clearer (I hope). Let me know if my assumptions were correct.

[2015-04-22 13:57] shadowhand commented on #265
@ramsey thanks!

[2015-04-23 00:19] ramsey commented on #265
Should I keep this open much longer for feedback from others, or are we all content with the interface as it's defined in #267?

[2015-04-23 03:05] shadowhand commented on #265
:+1: from me.

[2015-04-23 16:17] stevenmaguire commented on #265
:+1:

[2015-04-23 17:36] tpavlek commented on #265
One more thing I'd like to ask is if we're all collectively content with the `UserInterface` name. Since I typehint interfaces, not concretions, I'd prefer to have the interface actually named `User`. Anyone else have thoughts?

[2015-04-23 17:47] shadowhand commented on #265
@tpavlek I completely understand this request, but it doesn't match up with the rest of the interfaces defined within this package. I would suggest that we keep `UserInterface` for consistency. You can always alias it locally:

[code]

[2015-04-23 17:49] ramsey commented on #265
As this isn't something that PSR-1 or PSR-2 cover, I've been trying to adhere to the Symfony coding standards, since they are well-defined in this respect:

http://symfony.com/doc/current/contributing/code/standards.html#naming-conventions

[2015-04-23 17:50] tpavlek commented on #265
I was unaware there was a standard being followed.

Since this is consistent with that it gets the :+1:  from me :)

[2015-04-23 17:52] ramsey commented on #265
Excellent. Merging in!

[2015-04-23 17:53] #265 closed

[2015-04-23 18:02] stevenmaguire commented on #265
![haters](http://axisofstevil.s3.amazonaws.com/stuff/haters.gif)

[2015-04-23 18:09] ramsey commented on #259
After lots of discussion in #265 and a PR in #267, we've removed the User entity and have replaced it with a `Provider\UserInterface`. Third-party providers should use this and handle user data however they need (since user data is always specific to the provider and not to OAuth 2.0). However, to help make things easier, we are working on a way to use Providers to make authenticated requests usin

[2015-04-23 18:09] #259 closed

[2015-04-23 18:12] ramsey commented on #256
I believe our recent changes to IDPException (see #269) have taken care of this. Let me know if you think it's still inconsistent. The idea now is to let providers parse things before passing them into the exception. You may also want to check out the discussion on #263 for background on how we got to #269. :-)

[2015-04-23 18:12] #256 closed

[2015-04-23 18:14] ramsey commented on #237
I removed the User entity in #267 (see also discussion in #265). There is now a `Provider\UserInterface` for providers to use.

[2015-04-23 18:14] #237 closed

[2015-04-23 18:14] ramsey commented on #176
Haven't heard back, so closing out. We can reopen if it's still an issue.

[2015-04-23 18:14] #176 closed

[2015-04-25 04:29] koxon opened #270 "Question: Have offline access"
Hello,

When I connect with Google, Google keeps requesting "Have offline access".
The scopes are the default ones. I even tried to enforce the "accessType" to "online" and the "approval_prompt" to "auto".

No luck so far on my three gmail accounts :( what am I missing?

If you guys have any ideas I'd greatly appreciate.
Thanks for this great library.

Nick

[2015-04-25 17:04] ramsey commented on #270
Looping in @shadowhand, who maintains the [oauth2-google](https://github.com/thephpleague/oauth2-google) provider, to see if he can help with this issue.

[2015-04-25 18:28] shadowhand commented on #270
I'm not able to reproduce this. When I run the example code contained in the README, it says nothing about offline access:

![screen shot 2015-04-25 at 1 27 55 pm](https://cloud.githubusercontent.com/assets/38203/7334126/fa778f24-eb4e-11e4-9b4c-9e8bd4a3d3bd.png)

[2015-04-25 18:37] koxon commented on #270
Thanks for your help.

Looking at the FAQ, I see this:
https://developers.google.com/+/sign-in-faq#what_is_the_meaning_of_a_consent_screen_that_always_displays_have_offline_access

I don't think it's relevant for my problem though, but if you'll think of
something.

I will try to run the code from the README on my account and see.

Thank you
Nick

On Sat, Apr 25, 2015 at 2:28 PM, Woody Gilk <notif

[2015-04-25 19:00] koxon commented on #270
I just tested with the exact code from the readme and I get the same issue for my existing accounts.

However, I just created a new Gmail account and it works for this one.
I believe that because I accepted the "Have offline access" authorization level in the past, it keeps prompting me for it. Even though the scope has changed.

So I think it's an issue on the Google side. Maybe it's wanted on th

[2015-04-25 19:00] #270 closed

[2015-04-25 19:04] koxon commented on #270
To revoke access for a specific app on your google account visit:
https://accounts.google.com/b/0/IssuedAuthSubTokens

Revoke the app. Then you will be prompted correctly based on the scope you've selected.
They should definitely advertise this URL on the authorization popup ...

cheers

[2015-04-25 19:57] shadowhand opened #272 "Copy examples from Google"
Do we want to copy [the examples](https://github.com/thephpleague/oauth2-google/tree/master/examples) from the Google provider into the main repo? Everything except the `provider.php` is generic and could be copied over.

[2015-04-25 19:57] shadowhand commented on #272
I could go either way with this... I'm not sure how useful it is to have actual code vs the README examples. I just had to set up the code for a live test and decided to commit it into the repo.

[2015-04-25 20:01] ramsey commented on #272
I think examples specific to providers should remain in the individual provider repos. However, I do want to get a generic default provider in the base repo and have examples using that.

[2015-04-25 20:01] #272 closed

[2015-04-26 02:41] shadowhand commented on #268
@ramsey was trying to get to this today but stalled out doing some other cleanup work. Will start on it soon!

[2015-04-27 04:21] shadowhand commented on #268
PR created in my local fork, blocked until #274 is merged.

[2015-04-27 20:01] shadowhand commented on #268
@ramsey this can be closed, not sure why my PR didn't automatically close it out.

[2015-04-27 20:04] ramsey commented on #268
No worries. I think it has to be merged into `master` before it fully closes issues on GitHub.

[2015-04-27 20:04] #268 closed

[2015-04-28 01:03] shadowhand commented on #212
@ramsey @SammyK I don't see the point in duplicating the work done by @ircmaxwell. Unlike other packages, security-related stuff should not be hot swappable, they should be well known and audited.

[2015-04-28 01:09] ramsey commented on #212
From my perspective, we would standardize on @ircmaxell's library, but we use interfaces so that others may be injected, if desired. Perhaps we simply use RandomLib's `\RandomLib\Source` interface as our primary interface to do this.

[2015-04-28 09:42] parsnick commented on #249
I think this is the same issue - FreeAgent API is returning an uppercase "JSON" responseType, leading to "result is not defined" error.

Could this check be made case insensitive and/or default to something?

[2015-04-28 13:17] ircmaxell commented on #212
@ramsey I would suggest against using the `Source` interface. It's meant to be an internal implementation detail used for internal development.

Instead, the implementation that's meant to be used is `Generator`. I can extract a simple interface from that if you'd like:

    interface PRNG {
        const CHAR_* /* the char constants */
        public function generate($size);
        public funct

[2015-04-28 13:34] ramsey commented on #212
Sounds great, @ircmaxell. Thanks for the feedback.

[2015-04-28 14:01] ramsey commented on #249
@parsnick Can you please show an example of the full response? Thanks!

[2015-04-30 13:01] vipconsult opened #278 "Add phone and company fields."
I think most providers now support phone and some providers also return  company .

Could you integrate these in the library.

I could probably do it myself , but not at your high coding  standards.

[2015-04-30 17:02] ramsey commented on #278
Sorry, but we won't be adding this to the base oauth2-client library. In v1.0, all providers are moved out of this repository and into separate repos, where they can better handle the specific details of their implementations.

Thanks!

[2015-04-30 17:02] #278 closed

[2015-05-01 12:04] parsnick commented on #249
Apologies, looking into this further I've found the provider was configured (on our end) with responseType JSON, when it should have been lowercase.

I was initially confused by the case sensitivity in [Provider/AbstractProvider.php:L229](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L229), thinking the API must be responding with `Content-Type: applic

[2015-05-01 13:59] ramsey commented on #249
Thanks for letting me know.

[2015-05-01 13:59] #249 closed

[2015-05-02 03:20] shadowhand commented on #212
@ramsey this is done. :)

[2015-05-06 04:43] rtheunissen opened #286 "Update Guzzle to ~5.0?"
I just installed the client with composer and saw this:

Any reason not to patch to the new version?

[2015-05-06 07:59] stevenmaguire commented on #286
To quote @ramsey from #214

[2015-05-06 11:12] rtheunissen commented on #286
Aw sweet! Didn't realise there was a 1.0. Thanks. :+1:

[2015-05-06 11:12] #286 closed

[2015-05-06 14:54] rtheunissen opened #287 "[1.0] Request parameters not passed correctly to the HTTP client"
I noticed something strange on the 1.0 branch: take a look at the arguments passed to the client in [AbstractProvider/getAccessToken](https://github.com/thephpleague/oauth2-client/blob/1.0/src/Provider/AbstractProvider.php#L275) and compare them to the function definition in [AbstractHttpAdapterTemplate](https://github.com/egeloen/ivory-http-adapter/blob/0.6.0/src/AbstractHttpAdapterTemplate.php#L

[2015-05-06 15:02] rtheunissen opened #288 "[1.0] Reddit complained that it received an invalid grant type"
On 1.0, I was receiving 401's from Reddit stating that I was using in invalid grant type. I'm not sure where in the pipeline it was failing, but the *object* grant in [AbstractProvider/getAccessToken]() doesn't seem to ever be requested its __toString(). As soon as I changed $grant to "$grant" the problem disappeared.

Tried to have a look through egeloen/ivory-http-adapter but didn't spend too mu

[2015-05-07 01:24] shadowhand commented on #287
@rtheunissen hmm, I wonder if something changed upstream, or if we just did it oddly the first time around. I'll look into it.

[2015-05-07 01:25] shadowhand commented on #288
@rtheunissen thanks, I'll look into it. Are you developing your own oauth2-reddit client?

[2015-05-07 02:34] rtheunissen commented on #288
Yup, it's currently at [https://github.com/rtheunissen/oauth2-reddit](https://github.com/rtheunissen/oauth2-reddit) but I wrote it this morning so it's still quite new. Once I have it tested and used it for a while I'll bump it up to a 1.0.0.

I'm back on 0.11.0 for now though.

[2015-05-07 02:36] rtheunissen commented on #287
I noticed that Guzzle 5 expects headers and body as $options, but the Ivory Http Adapter doesn't?

[2015-05-07 05:46] rtheunissen commented on #288
v1.0.1 tagged at [rtheunissen/oauth2-reddit](https://github.com/rtheunissen/oauth2-reddit).

I've created a pull request to add it to the readme.

[2015-05-07 15:11] #212 closed

[2015-05-07 16:14] shadowhand commented on #253
@ramsey this can be closed.

[2015-05-07 16:46] #253 closed

[2015-05-08 04:56] rtheunissen commented on #288
Getting back to the issue at hand.. I'll try reproduce it again because the __toString() really should have worked. I'll report back.

[2015-05-08 14:39] shadowhand commented on #288
@rtheunissen did you get any different result?

[2015-05-08 16:02] ramsey commented on #287
This was my fault. I did this as part of conflict resolution when I merged master into 1.0. I ended up following the Guzzle 5 interface, rather than the Ivory interface. I won't make that mistake again. :-)

[2015-05-08 16:11] rtheunissen commented on #288
I just reproduced it and received "invalid_grant" which was not the case when I explicitly quoted the grant in the parameters. That means that the grant's __toString() wasn't used to be the value of that parameter in the request.

[2015-05-08 16:24] rtheunissen commented on #288
With the changes from #291 and quoting the grant, all my tests are passing for both 0.11 and 1.0

[2015-05-08 16:37] rtheunissen commented on #287
:+1:

[2015-05-08 23:08] #287 closed

[2015-05-08 23:09] ramsey commented on #288
@rtheunissen with merging in #291, does that mean this is resolved?

[2015-05-08 23:16] rtheunissen commented on #288
:+1:

[2015-05-08 23:16] #288 closed

[2015-05-10 06:30] tyuwan commented on #132
Hi, I'm having the same error with 0.11.0 for Facebook.

[2015-05-10 06:40] tyuwan opened #295 "Handling invalid authorization code Facebook"
Hi, I'm having the same issue (https://github.com/thephpleague/oauth2-client/issues/132) with the current version 0.11.0.

[2015-05-10 14:41] shadowhand commented on #295
What are the steps to reproduce?

[2015-05-10 17:36] tyuwan commented on #295
What I did was install via composer and use the code below to test if it work, but I cannot get pass the `getAccessToken()` part. Did I do something wrong?

`composer require league/oauth2-client`

[code]

[2015-05-12 04:40] rtheunissen opened #296 "[1.0] Some providers don't have an AccessToken uid"
I'm not sure if this is a case where maybe the token itself should be the UID or if something should be generated for it, but Reddit doesn't provide an id-like field other than the token itself.

- Should all providers set *some* uid, even if it's not from the authenticating source?

This is the method that currently fails if the field isn't supported:
https://github.com/thephpleague/oauth2-client

[2015-05-13 14:29] ramsey commented on #296
Fixed in #297

[2015-05-13 14:29] #296 closed

[2015-05-13 18:18] SammyK commented on #295
A quick workaround would be to change your Graph version to v2.2:

[code]

In version 2.3 Graph started returning JSON responses for access tokens and it's screwing with the provider.

[2015-05-14 02:15] tyuwan commented on #295
Perfect! Thank you.

[2015-05-14 02:15] #295 closed

[2015-05-14 23:14] SammyK opened #303 "[1.0] Add option to overwrite HTTP client timeout"
The default timeout for the curl adapter is 10 seconds which isn't enough time for low Starbucks connections. :)

I don't have time to add this myself, but it should be low-hanging fruit to anyone who wants to take it on. The constructor of the `AbstractProvider` needs something like this:

[code]

Then we can have a `timeout` option to overwrite the default when we're on slower connections:

[cod

[2015-05-14 23:22] SammyK opened #304 "[1.0] Improve error handling when HTTP client fails"
When testing out the Facebook provider on a slow connection, I kept getting this error after 10 seconds:

The issue was due to a low timeout (10 seconds) that caused the HTTP client to barf out a `HttpAdapterException` on [these lines](https://github.com/thephpleague/oauth2-client/blob/1.0/src/Provider/AbstractProvider.php#L315-L317). And [these lines are also affected](https://github.com/thephple

[2015-05-16 16:39] shadowhand commented on #303
Makes sense, though I worry that this will grow hair with time... once we start to allow configuration of the HTTP client through the provider options (vs injecting a configured client), where do we draw the line? Should we allow every client config option to be passed through? (Probably not.) Should we allow _some_ options to be passed through? (Which ones?)

For this specific option, I think it

[2015-05-18 20:55] SammyK commented on #303
In my experience, any project that has an HTTP client in it grows so much hair over time it ends up looking like Big Foot. Hehe.

[2015-05-24 15:37] #304 closed

[2015-05-24 15:38] #303 closed

[2015-05-30 02:14] benjy commented on #286
The 1.0 branch is still in development though right? Is 1.0 going to be compatible with the minor versions leading up to 1?

[2015-05-30 03:42] shadowhand commented on #286
@benjy 1.0 is a major version bump and does include API changes. The majority of these are internal, (most) of the external API remains the same.

[2015-05-30 04:03] benjy commented on #286
Do you have an ETA for the first tagged 1.0.x release?

[2015-05-30 04:05] shadowhand commented on #286
Hopefully very soon. Definitely within the next month.

[2015-05-30 04:22] benjy commented on #286
OK great, thanks for the info.

[2015-05-31 15:20] shadowhand opened #314 "Switch to Guzzle 6"
@ramsey do we want to switch to [Guzzle 6](http://docs.guzzlephp.org/en/latest/psr7.html)? It looks like the Ivory adapter is still using an outdated PSR-7 interface. I've experimented with integrating Guzzle 6 and the code is actually smaller than using Ivory and the behavior feels more consistent.

[2015-05-31 21:09] rtheunissen commented on #314
@shadowhand Could you branch your experimental integration? Even if it's incomplete or broken, just to see what the behaviour is like. If I understand correctly, the provider would return a Request object rather than make the request and return a response?

[2015-06-02 14:58] eliecharra commented on #314
:+1: To integrate PSR7 through Guzzle 6

[2015-06-02 19:18] ramsey commented on #314
Agreed. Let's do it. Thanks, @shadowhand!

[2015-06-04 18:17] SammyK opened #320 "Short-lived vs long-lived access tokens"
Do other providers need to deal with exchanging short-lived access tokens with long-lived ones? I want to make sure that functionality is unique to Facebook before adding that feature to the Facebook provider. :)

Ping: @stevenmaguire @shadowhand @howlowck @tpavlek (sorry for the spam)

Thanks to @farmnick for [brining up the issue](https://github.com/thephpleague/oauth2-facebook/issues/3).

[2015-06-04 18:54] tpavlek commented on #320
Not on Twitch or Battle.net.

[2015-06-04 19:01] shadowhand commented on #320
Not on Google or Square or ZenPayroll or Vend or Clover.

[2015-06-04 19:31] rtheunissen commented on #320
Reddit provides either a temporary or permanent token, where the only difference is that a temporary token doesn't come with a refresh token and lasts only one hour.

[2015-06-04 19:35] SammyK commented on #320
@rtheunissen Did you add the short-lived-to-permanent-token functionality to the reddit provider? I'm curious if there should at least be an interface for it in the main client repo.

[2015-06-04 19:38] rtheunissen commented on #320
@SammyK Yeah I did but it's not pretty, decided to revisit when I merge 1.0. See here:
https://github.com/rtheunissen/oauth2-reddit/blob/master/src/Provider/Reddit.php#L131

[2015-06-04 19:43] SammyK commented on #320
Cool - looks like the process of getting a permanent access token in Reddit is quite different than getting a long-term access token in Facebook. So maybe an interface would be quite pointless.

[2015-06-04 19:50] rtheunissen commented on #320
How does Facebook do it? With the Reddit provider it was easy to override the default behaviour but still query that as the base URL to append to. Didn't feel it was worth creating a separate method or consider an interface.

[2015-06-04 19:54] SammyK commented on #320
With Facebook you always get a short-term user access token by default. Then you can send the short-lived token back to the access token endpoint with the `grant_type=fb_exchange_token` param and it'll return a long-term access token. But in Facebook there's a thing call "app access tokens" which are pretty unique to Facebook and are also a dependency in the whole process.

But with Reddit it look

[2015-06-04 19:59] rtheunissen commented on #320
Yes you can but it still expires after an hour. The only difference is that you get a refresh token so that you have the option to refresh it after it expires. Temporary tokens don't have a refresh token so after an hour you have to request a new one.

[2015-06-04 20:00] SammyK commented on #320
Ah gotcha. Facebook doesn't support refreshing tokens. :/

[2015-06-12 11:02] rtheunissen commented on #314
Ready to close with #315 merged?

[2015-06-12 13:40] ramsey commented on #314
Yep. Thanks for the reminder.

[2015-06-12 13:40] #314 closed

[2015-06-13 09:40] rtheunissen opened #334 "Travis CI timing out"
Was wondering if there is a good reason for using the `--prefer-source` Composer option on Travis CI? I think this may be the reason why some builds time out when trying to install dependencies.

[2015-06-14 17:22] mrgodhani opened #335 "Instagram Multiple scopes"
Hi

How would I set multiple scopes for Instagram provider ?

This is what I have :

[code]

And this is the error I get :
[code]

[2015-06-14 22:14] rtheunissen commented on #335
I think the Instagram scope separator should be `+`. See [docs](https://instagram.com/developer/authentication/#scope)

[2015-06-14 22:28] rtheunissen opened #337 "[1.0] Providers should be updated to work with new AbstractProvider"
This is just a milestone / reminder issue that we should update all included providers to 1.0 before we release. This might seem obvious, but I just went to fix the Instagram scope separator on 1.0 and realised that none of them have been updated. Wouldn't make sense that they have been updated because 1.0 is changing constantly.

[2015-06-14 22:29] rtheunissen commented on #335
PR to fix this has been opened [here](https://github.com/thephpleague/oauth2-client/pull/336). @ramsey

[2015-06-14 23:56] rtheunissen opened #338 "[1.0] Can't rely on BadRequestException"
Guzzle 6 has an *optional* `http_errors` middleware, which means that it is not guaranteed that exceptions will be thrown for bad requests.

I have two ideas that could help fix this:

1.
 - Keep the `catch` for `BadRequestException` in order to use `$e->getReponse()`.
 - Check response status code and throw either a `ClientErrorException` or `ServerErrorException`, creating with the `Response`.

[2015-06-15 01:41] shadowhand commented on #338
This seems to very unlikely to be an issue, because if the user is passing in a custom Guzzle client that is throwing custom exceptions, it would be caught by the user and is not the responsibility of OAuth client to do so.

[2015-06-15 01:45] rtheunissen commented on #338
:+1:

What about passing the response object to `checkResponse` alongside the parsed result?

[2015-06-15 01:47] shadowhand commented on #338
That's probably useful. The provider can decide to use it or not, it doesn't hurt anything.

[2015-06-15 01:48] rtheunissen commented on #335
@mrgodhani I have opened an issue on [thephpleague/oauth2-instagram](https://github.com/thephpleague/oauth2-instagram/issues)

[2015-06-15 01:59] #337 closed

[2015-06-16 04:22] ramsey commented on #334
I actually don't have a good reason for that. Most of the larger projects I've seen use `--prefer-source` in test runners, so I've just followed suit and done the same.

[2015-06-16 04:25] ramsey commented on #335
The scope separator for Instagram has been fixed in 0.12.0. Please let me know if that fixes this issue.

[2015-06-16 18:29] patrickconroy opened #340 "Microsoft access token with request headers"
Hello. Right now the only way to get an access token from Microsoft is to add this to the `AbstractProvider::getAccessTokenRequest`, otherwise it complains that that header isn't there.

[code]

Can I make a PR in this repo that maybe does this, which will allow setting the headers?
[code]

Or is there a simpler way to do this? Of course I can submit a PR to the Microsoft repo, but thought I'd ask

[2015-06-16 19:34] rtheunissen commented on #340
I think this should be made local to the Microsoft provider, where you could override `getHeaders` to add the content type header. I'll take a closer look a bit later but that should be a good starting point.

[2015-06-16 19:37] patrickconroy commented on #340
OK thank you @rtheunissen

[2015-06-16 19:37] shadowhand commented on #340
@rtheunissen let's make sure that the correct content-type header is set in 1.0 and 0.1x branches.

[2015-06-16 20:23] mrgodhani commented on #335
:+1:  I will check it out today and let you know

[2015-06-16 20:36] rtheunissen commented on #340
@shadowhand Wondering if we should defer that to Guzzle for the time being, using `form_params` instead of a string `body`? The client [sets the header for us](https://github.com/guzzle/guzzle/blob/master/src/Client.php#L294)

[2015-06-16 20:38] shadowhand commented on #340
@rtheunissen the `form_params` option only works when you __don't__ use a pre-configured request. Our request factory doesn't support it.

[2015-06-16 20:39] rtheunissen commented on #340
@shadowhand Good point. Should I make a plan and PR or would you like to?

[2015-06-16 20:50] shadowhand commented on #340
I won't be able to get to it until the weekend. If you have time, go for it. :)

[2015-06-16 21:37] SammyK commented on #320
This feature [has been added to the Facebook provider](https://github.com/thephpleague/oauth2-facebook#long-lived-access-tokens).

[2015-06-16 21:37] #320 closed

[2015-06-16 23:31] mrgodhani commented on #335
[code]
Still get this error

[2015-06-17 17:58] stevenmaguire commented on #335
I will take care of this and submit a PR.

[2015-06-17 19:02] stevenmaguire commented on #335
I've submitted a PR to correct the scope separator. Luckily I found that the solution also applies to the LinkedIn provider. I've submitted a separate PR for that.

Additionally, both of these providers have been updated in their broken out packages.

[2015-06-17 21:50] SammyK commented on #340
I was just about to post a similar issue related to this. The reason behind #341 is that we're not sending an `Accept` header and Facebook is returning the wrong one by default. But Facebook returns the proper response headers when the `Accept` header is set on the request.

[2015-06-19 21:12] stevenmaguire opened #349 "Best guess for 1.0 release?"
Are there any current feelings around an approximate timeline for a 1.0 release? #notanestimate

[2015-06-19 21:13] ramsey commented on #349
"Soon." :-)

I'd like to get a 1.0.0-alpha1 release out pretty quickly, actually. There are just a few things that need to be finished up first.

[2015-06-20 09:30] rtheunissen commented on #349
It might be worth laying out a checkbox list issue detailing what those things are? That way we can all contribute to get things done, as well as be aware of where we're at.

- [ ] I think this is a good idea

[2015-06-20 15:50] ramsey commented on #349
Do you have items for that list? I recall you saying that you have a number of pull requests to get in before a 1.0.0 release. Are those all done now?

[2015-06-20 15:57] #338 closed

[2015-06-20 16:08] ramsey commented on #335
The fix for this has been released in 0.12.1.

[2015-06-20 16:08] #335 closed

[2015-06-20 16:09] #334 closed

[2015-06-20 16:11] ramsey commented on #214
@SammyK, can you give me the TLDR of this thread? Should it remain open? Is there work to be done?

[2015-06-20 16:20] ramsey opened #351 "Ensure we "docblock all the things""
Item # 5 on the League's [definition of quality](http://thephpleague.com/#quality) is: "DocBlock all the things." Let's make sure at least all public (and protected, since they're technically part of the API) methods/properties are documented and have good descriptions.

Additionally, we should apply the following file header to each file:

[code]

[2015-06-20 16:38] ramsey opened #352 "Achieve 100% code coverage"
We're so close to 100% covered in 1.0.0-dev, there's no reason we shouldn't make it all the way. There are just a few outlying lines not covered, and they shouldn't be difficult to test.

As of right now, here's what our coverage looks like:

![oauth2-client-coverage](https://cloud.githubusercontent.com/assets/42941/8268169/e952da1e-1740-11e5-87eb-173b0acb40b2.png)

[2015-06-20 16:45] ramsey commented on #349
As for right now, my list of things I want to close out before a 1.0 release:

* #179
* #351
* #352

The README needs to be polished up and checked for deviations from the 1.0 way of doing things.

After these are taken care of, I'm ready to tag a `1.0.0-alpha1` release so we can lock in the API and get the providers to start updating and finding any issues.

@shadowhand and @rtheunissen, is there

[2015-06-20 17:24] ramsey commented on #349
I should also add: I need to create the changelog for 1.0.0-alpha1, as well. I'll start working on this today.

[2015-06-20 21:08] SammyK commented on #214
**TL;DR:** This is a really hard problem to solve and would probably get the OAuth Client versioned as v[DNF](https://en.wikipedia.org/wiki/Development_of_Duke_Nukem_Forever) if we tried to figure it out before a 1.0 alpha.

However, I do think we should keep the conversation going on this issue. Possibly even widening the audience since this relates to any TLS connection with a specific known pro

[2015-06-20 21:52] ramsey commented on #214
Thanks. Removing the v1.0 milestone, but I'll keep it open.

[2015-06-20 22:53] rtheunissen commented on #349
@ramsey All the things I wanted to change / PR are done now, other than 100% coverage and complete documentation. I'll take a look at those open issues today, see if I can help out.

[2015-06-20 23:03] rtheunissen commented on #351
Quoted from Gitter:

@ramsey @shadowhand Could we maybe discuss and decide on a docblock style? I would like to propose either of these:

[code]
[code]

Some details to clear up are:

1. Spaces between different tags?
2. Tag order (ie. param, return, throw)?
3. Should we try to line types and names up vertically?
4. Fullstops at the end of descriptions?
5. Tense: ie, “Returns, accepts, sets” vs “R

[2015-06-20 23:39] shadowhand commented on #351
@rtheunissen I greatly prefer the first style because the description is really the only part that matters for humans. The other `@` elements are primarily machine documentation (IDE and generators). Specifically:

1. No extra newlines between `@` tags.
2. `@param` `@return` `@throws`
3. I usually try to align `@param` and `@return`. I don't feel strongly about this and I think it works better if

[2015-06-20 23:41] shadowhand commented on #351
Oh and one other thing... we absolutely should avoid using `@inheritdoc` incorrectly. Before using it, be sure to read the [inheritance docs](http://www.phpdoc.org/docs/latest/guides/inheritance.html).

[2015-06-20 23:45] rtheunissen commented on #351
Could you please clarify what you mean by 'form'?

[2015-06-21 00:18] shadowhand commented on #351
@rtheunissen oops bad edit... fixed now.

[2015-06-21 00:21] shadowhand commented on #349
@ramsey thanks for that... I'll get a PR up for #179 within the next 36 hours, now that the method name cleanup is finished.

[2015-06-21 00:26] rtheunissen commented on #351
:+1: I'll take care of the documentation side of things.

[2015-06-21 17:46] ramsey commented on #351
Thanks!

[2015-06-22 01:13] stevenmaguire commented on #349
A checklist would be helpful!

I had to spend some time refactoring one of the now separated providers to support the changes in 1.0. I'd like to be able to have a rough plan for ensuring all packages I maintain are updated accordingly within a reasonable amount of time after the release. Furthermore, I want to get close to ensuring the interface (public and abstract method signature) of the root

[2015-06-22 01:25] ramsey commented on #349
@stevenmaguire A checklist of things that have changed or a checklist of things left to complete before we can have a 1.0.0 release? If it's the latter, then IMO, it's just the 3 issues I linked to above. If it's the former, then I'm working on it. :-)

[2015-06-22 18:14] stevenmaguire commented on #349
@ramsey Both lists are helpful. The remaining three issues are great and don't pose much of an issue in the separate package maintenance. The documentation about what has changed would be helpful to ensure complete coverage, and I think I have a pretty good grasp on what has changed in getting the microsoft package upgraded with passing tests.

[2015-06-23 08:54] farmnick commented on #320
Thanks for the update and I'm sorry to bug you again. But, I'm using the
Facebook library without composer. And I can't seem to figure out how to
include the Oauth 2.0 Client library along with my other code. Is there any
way include it without Composer?

On Tuesday, June 16, 2015, Sammy Kaye Powers <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-06-23 08:57] rtheunissen commented on #320
I remember myself asking the same type of questions a few years ago, then I tried Composer and never went back again. Do you have a specific reason for not using Composer?

[2015-06-23 08:58] farmnick commented on #320
No not really. Is it as simple as it seems to use it?

On Tuesday, June 23, 2015, Rudi Theunissen <notifications@github.com> wrote:

[2015-06-23 09:12] rtheunissen commented on #320
It's effortless. Install it globally, then just `composer init` and set your dependencies, then `composer install`. There are many proper tutorials out there. Wouldn't take 15 minutes to get the hang of the basics. :)

[2015-06-23 09:12] farmnick commented on #320
Thanks for the help.

On Tuesday, June 23, 2015, Rudi Theunissen <notifications@github.com> wrote:

[2015-06-25 20:24] ramsey commented on #352
We now have 100% code coverage.

[2015-06-25 20:26] #352 closed

[2015-06-25 20:26] #179 closed

[2015-06-29 07:12] duythien opened #357 "The token google change when I was login for again"
Hi all

When the first time everything, this mean I have  save to data a some filed token_google, username, email... in to table users

But When I login again with the email  that,  then I use query sql such as the sql below to authencation as again

[code]
It will not working, because  of  token_google change but in the past it working

How we can reuse it when a user comes to our site after 10 d

[2015-06-29 11:07] ramsey opened #362 "1.0.0-alpha2 release for 4 July 2015"
If you have any API changes you want to make to the library, please get them in by the end of this week. I'll be releasing 1.0.0-alpha2 on Saturday.

I'm planning on finishing the upgrade guide for this release.

The next release after alpha2 will be beta1. I'd like to freeze all API changes in beta1, so that providers can make necessary updates in preparation for the GA release.

Thanks!

[2015-06-29 11:09] ramsey commented on #362
Ping @shadowhand, @rtheunissen, @SammyK, and @stevenmaguire.

Following the alpha2 release, I'll try to contact each of the third-party maintainers directly to let them know about the upgrade guide, as well as plans for beta1 and GA.

[2015-06-29 11:11] rtheunissen commented on #351
I'm still keen to take charge of completing the documentation, I'm just waiting for the API to settle a bit. :watch:

[2015-06-29 11:14] rtheunissen commented on #362
Thanks @ramsey, this is awesome. I'll do a thorough documentation once-over when the API is stable (so, beta1?). What are the plans re: gh-pages branch?

[2015-06-29 13:45] shadowhand commented on #357
This is not a flaw in the library. Every time you login with a OAuth provider, the token should change. The proper way to identify a user is by using a UID that the provider sends, or another unique value like the email address.

[2015-06-29 15:35] duythien commented on #357
Yes. I know that but When I use the library for an example github to authentication it not change every time.

So I am search that it  then I see the tokens github don't have to expire this is expected to google. Maybe I will set time life expire of token google, but the documents I do not see, how to config it ?

Thanks

[2015-06-29 21:41] SammyK commented on #362
:+1:

[2015-06-30 14:07] shadowhand commented on #357
You do not get to configure the expiration of access tokens, the provider decides the value. You can use `AccessToken::getExpires()` to determine the timestamp that the token will expire at (or `AccessToken::$expires` in 0.x versions.

[2015-06-30 15:47] duythien commented on #357
Ok, thank you help replies some questions

[2015-07-02 03:16] #357 closed

[2015-07-02 15:19] xjchengo opened #368 "Deal with different base access token url between authorization and refresh"
I encounter a provider that has different base access token url between authorization and refresh. Current v1 abstract provider class doesn't take different grant type into account when getting base access token url. How to deal with this situation properly?

[2015-07-02 19:06] chrissound opened #369 "Sentence within readme is confusing"
On the readme: "Once and as long as your application is authorized, you then only need to refresh an expired access token."

I have trouble understanding this sentence.

[2015-07-02 20:29] chrissound opened #370 "Why is the refresh token null?"
Hi there,

Any reason why a refresh token would be null? The access token is present and getUserDetails() seems to be returning an appropriate result.

[code]

[2015-07-03 00:36] rtheunissen commented on #370
Might be better to ask @shadowhand on [Gitter](https://gitter.im/thephpleague/oauth2-client) or an issue on [thephpleague/oauth2-google](https://github.com/thephpleague/oauth2-google)

[2015-07-03 00:40] rtheunissen commented on #369
An improvement could be "Once your application is authorized, you can refresh an expired token using a *refresh token* rather than going through the entire process of obtaining a brand new token".

Does that make more sense? How would you phrase it yourself?

[2015-07-03 00:49] rtheunissen commented on #368
Very interesting. I've created a pull request for this issue. #371

If that PR is merged, you'll have access to `grant_type` in the parameters.

[2015-07-03 06:16] chrissound commented on #369
That indeed sounds better.

[2015-07-03 14:15] ramsey commented on #370
What version of oauth2-client are you using?

[2015-07-03 14:18] #369 closed

[2015-07-03 14:22] #368 closed

[2015-07-04 03:38] koxon opened #373 "accessToken VS access_token"
Hi,

The AccessToken.php file changes the tokens key names.
From "access_token" to "accessToken" for example.

As Google expects me to use access_token, it fails if I used my token array without changing the keys first.

Is it wanted for some reasons?

[2015-07-04 05:13] rtheunissen commented on #373
How are you using this? Could you explain a bit more, or paste some code maybe?

[2015-07-04 05:57] ramsey commented on #373
We don't change `access_token` to `accessToken` anywhere. Are you referring to the `$accessToken` property on the `AccessToken` class?

[2015-07-04 07:17] x-merlin-x opened #374 "installation request failes on ubuntu"
I am getting an error while trying to install on ubuntu with newest curl and openssl libraries combined with newest php release:

$ composer require league/oauth2-client
Using version ^0.12.1 for league/oauth2-client
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an ins

[2015-07-04 07:33] ramsey commented on #374
Do you have any other packages installed that require a version of oauth2-client?

It sounds like Composer is failing to install 0.12.1 due to a version conflict, which would indicate another package you're using might require 1.0.x-dev.

[2015-07-04 07:37] x-merlin-x commented on #374
Thank you for your quick repsonse!

No, I just made a fresh install:

§git clone https://github.com/thephpleague/oauth2-client.git

$ cd oauth2-client

$ composer require league/oauth2-client

Same error

From:  Ben Ramsey
Reply-To:  thephpleague/oauth2-client
Date:  Saturday 4 July 2015 09:33
To:  thephpleague/oauth2-client
Cc:  Andreas Pucko
Subject:  Re: [oauth2-client] installation request fai

[2015-07-04 12:40] shadowhand commented on #374
@x-merlin-x the commands you listed don't make sense... you're trying to require oauth2-client from inside of oauth2-client?

[2015-07-04 15:25] ramsey commented on #374
@x-merlin-x, if you're installing the package using Composer, you don't need to also clone the package with Git. That's where you're running into problems.

Composer helps you manage the dependencies of _**your project**_. So, if you have a project that you are working on, you can use Composer to install this package into that project. The standard set-up with Composer might look something like th

[2015-07-04 15:25] #374 closed

[2015-07-04 16:05] ramsey commented on #349
I've added a page to the wiki for this. Closing out this issue.

https://github.com/thephpleague/oauth2-client/wiki/v1.0.0-Release-Time-Table

[2015-07-04 16:05] #349 closed

[2015-07-04 16:36] ramsey commented on #362
1.0.0-alpha2 is tagged. Closing this issue.

I've added a page to the wiki for tracking the release plan. Right now, Beta 1 is scheduled for 15 July.

https://github.com/thephpleague/oauth2-client/wiki/v1.0.0-Release-Time-Table

[2015-07-04 16:36] #362 closed

[2015-07-04 20:25] koxon commented on #373
Hi,

When calling getAccessToken located in the AbstractProvider.php file. It
returns the AccessToken object.

This object is fine but I can't just json_encode it and pass it back to
Google as follow:
$client = new Google_Client();
$client->setAccessToken(json_encode($accessToken));

It would be nice to keep the original token array somewhere, with its
original keys or create a method to generate

[2015-07-04 21:01] ramsey commented on #373
@koxon, take a look at pull request #375 and let me know if something like this will solve this?

[2015-07-04 21:47] koxon commented on #373
Hey Ben,

Yes definitely! That's what I'm looking for :)

thanks
nicolas

On Sat, Jul 4, 2015 at 5:01 PM, Ben Ramsey <notifications@github.com> wrote:

--
Nicolas Menciere
Co-Founder and CTO
Sport Archive Inc.

[2015-07-05 04:28] #373 closed

[2015-07-08 10:10] xjchengo opened #377 "AccessToken is hard to extend"
[code]

This hard-coding dependency make AccessToken class hard to extend.

[2015-07-08 14:49] shadowhand commented on #377
Because of the `GrantFactory`, it is actually quite easy. First, you will need an extended access token:

[code]

And then register it with the grant factory when creating your provider:

[code]

[2015-07-09 02:30] xjchengo commented on #377
I just want to add a property to `AccessToken`. The `AccessToken` will be uesd by `AuthorizationCode` and `RefreshToken`. I have to do the following:

1. extend `League\OAuth2\Client\Token\AccessToken` , add a property and overload constructor
2. extend `League\OAuth2\Client\Grant\AuthorizationCode`, overload `createAccessToken`
3. extend `League\OAuth2\Client\Grant\RefreshToken`, overload `create

[2015-07-09 03:07] ramsey commented on #377
Since the response is passed to the `createAccessToken()` method on the Grant in order to create the AccessToken, how would you propose passing an AccessToken to the GrantFactory, since it can't have been created yet?

[2015-07-09 03:11] rtheunissen commented on #377
Would it be viable for the provider to create the access token?

[2015-07-09 03:58] shadowhand commented on #377
FWIW, the resource owner (user) entity is created by the provider and I don't see a particularly strong reason why the provider shouldn't also create the access token. If the grant needs to be involved, it could be done as:

[code]

This allows the access token to read additional information from the grant if necessary.

[2015-07-09 04:00] rtheunissen commented on #377
@shadowhand Yup, that's what I was thinking too. :+1:

[2015-07-09 04:11] ramsey commented on #377
Looks good to me, too.

[2015-07-09 10:37] xjchengo commented on #377
Yes, putting `createAccessToken` in `AbstractProvider` solves the problem.

[2015-07-09 15:02] #377 closed

[2015-07-13 14:45] shadowhand commented on #351
Honestly, I don't really see value in having a docblock header in every single file. 99.9% of the time, people will be using Git and have a full copy of LICENSE with the source code. Headers tend to get out of date and create commit noise when updated.

[2015-07-13 14:47] ramsey commented on #351
I left the year out on purpose for that reason. :-)

[2015-07-15 02:01] tpavlek commented on #250
Has anyone begun tackling this yet? I have some open source cycles coming up, and if no one's already working on this I'd love to make us some docs :)

[2015-07-15 02:10] rtheunissen commented on #250
I think we're just waiting for the API to be finalised. See [timeline](https://github.com/thephpleague/oauth2-client/wiki/v1.0.0-Release-Time-Table)

[2015-07-15 16:09] moufmouf commented on #340
Hey! This is definitely not only limited to Microsoft's.
I'm currently trying to use thephpleague/oauth2-client to access an Oauth server written in PHP.

On the server side, the $_POST superglobal is empty if you do not put the correct header as suggested:

[code]

[2015-07-16 03:24] rtheunissen commented on #340
@SammyK How are you currently setting the `Accept` header?

[2015-07-16 15:26] ramsey commented on #340
Fixed in #381.

[2015-07-16 15:26] #340 closed

[2015-07-17 19:38] tplaner commented on #370
Google OAuth only provides refresh tokens when you [request offline access](https://developers.google.com/identity/protocols/OAuth2WebServer#offline):

[code]

Google only provides the refresh token on the initial authorization request, after that it will be `null`. If you need to request a new one you must force an `approval_prompt`. To do this you must pass an additional option when requesting t

[2015-07-19 07:41] x-merlin-x commented on #250
A documentation would be very helpful. I am now struggling with the package for a few hours and can't find out how to start. The readme.md usage section does not help and I am close to giving up.

[2015-07-19 15:20] shadowhand commented on #250
@x-merlin-x having chatted with you on Gitter, I feel like you don't understand what you want to do. The current documentation isn't great, but it is enough to get most people started without too much trouble.

[2015-07-19 16:07] x-merlin-x commented on #250
@shadowhand thank you for your reply. I am sorry but I do know what I want: 1. Get the example running in readme.md with facebook, 2nd connect to my own Oauth2 server. The first point already failes as the only documentation I can find is readme.md and to implement my own provider for step 2 readme.provider-guide.md. The example in readme.md for facebook seems to be incomplete as there are no incl

[2015-07-19 18:58] ramsey commented on #250
You should take a look at the Facebook provider.

There is a link to a list of providers in the README. The list is here: https://github.com/thephpleague/oauth2-client/blob/master/README.PROVIDERS.md

[2015-07-19 19:26] shadowhand commented on #250
@x-merlin-x I'm not sure what you mean by "connect my own OAuth2 server". You can either use an OAuth client to connect to a 3rd party (like Facebook) /or/ you can have your own OAuth server and use an client to connect it.

[2015-07-20 06:06] surjit opened #386 "how to use it to build api"
I have web application and i building android app + allowing users to access it by api in simple way no need for scopes, etc
simple way as done here https://developers.envoy.co/#authentication

So, developers can access it by just client_id and client_secret and then other stuff REST API will do

is there available source or tutorial to use oauth with rest api in simple way ?

[2015-07-20 11:49] surjit commented on #386
two legged oauth

[2015-07-30 11:06] chrissound commented on #370
Thanks @tplaner!

[2015-07-30 13:21] ramsey commented on #370
Thanks, @tplaner!

@chrissound, does that resolve this for you?

[2015-07-31 06:30] jagandecapri opened #391 "Support for PHP 5.3.10"
This might be an unrelated question to this repo.

I can't upgrade my client's PHP version which is PHP 5.3.10.

Since this library only supports 5.5 and above, is there any workaround or other libraries to support 5.3.10?

[2015-07-31 08:01] ramsey commented on #391
Unfortunately, there are no easy work-arounds, since the library uses constructs that are only available in PHP 5.5+. The earliest version of the library that supports 5.3 is version 0.3.0, and I wouldn't recommend going that far back.

There are other OAuth libraries you may be able to use, but since PHP 5.3 reached its end of life on 14 August 2014, many libraries will no longer support it in th

[2015-07-31 08:01] #391 closed

[2015-07-31 09:43] jagandecapri commented on #391
Thanks @ramsey

[2015-08-09 15:04] harikt opened #399 "Question : About getId"
Hi,

I have a doubt going through the implementation `getId` of google

https://github.com/thephpleague/oauth2-google/blob/1c6e59c801cbc0ba7942a7cd84f859bdb8ba786e/src/Provider/GoogleResourceOwner.php#L58

github

https://github.com/thephpleague/oauth2-github/blob/5f48034ee21bb025b4710f9e2e587a9a094bc9ff/src/Provider/GithubResourceOwner.php#L53

and that of the oauth2 client https://github.com/the

[2015-08-09 15:40] shadowhand commented on #399
Regarding `GenericResourceOwner` the value of `$this->resourceOwnerId` is [the key, not the value](https://github.com/thephpleague/oauth2-client/blob/6f837e21c1777e619234b0382ce8e6ca3d1d72bf/src/Provider/GenericProvider.php#L220), so the current code is accurate.

The code for the Github owner is actually incorrect. I've opened thephpleague/oauth2-github#1 to address that issue.

In regards to the

[2015-08-09 16:26] harikt commented on #399
Thank you for making it clear @shadowhand . The use case of `toArray` key was basically for https://github.com/harikt/Aura.Auth/blob/usability/src/Adapter/LeagueOAuth2Adapter.php#L53 , so that it guarantees there will be things like `email`, `name` etc. I know it also depends on the providers. But even if there is nothing provided by provider some sort of functionality will be nice to have.

Thank

[2015-08-09 20:09] shadowhand commented on #399
There are absolutely no guarantees about any information being available from the provider. _Most_ providers will include some kind of identifier, which is what we expose via the `getId` method. Nothing else is assumed to be available with every provider.

[2015-08-09 23:35] stevenmaguire commented on #399
All 9 of the providers that I maintain have been updated per these discussions. Thanks for surfacing!

[2015-08-12 17:44] najela opened #402 "Doesn't give the gender field when using the google api"

[2015-08-12 18:11] ramsey commented on #402
All providers have been split out of this package. Please refer to [league/oauth2-google](https://github.com/thephpleague/oauth2-google).

Thanks!

[2015-08-12 18:11] #402 closed

[2015-08-12 18:21] ramsey commented on #351
Done!

[2015-08-12 18:21] #351 closed

[2015-08-12 18:22] shadowhand commented on #402
@najela the gender field is no longer part of oauth2-google.

[2015-08-12 18:22] #370 closed

[2015-08-12 18:23] #399 closed

[2015-08-12 18:25] najela commented on #402
@shadowhand I don't think so. I could get the gender from **https://www.googleapis.com/oauth2/v3/userinfo?access_token=**

[2015-08-12 18:34] ramsey commented on #386
@surjit, I believe our [ClientCredentials](https://github.com/thephpleague/oauth2-client/blob/master/src/Grant/ClientCredentials.php) grant is what you're looking for.

Perhaps something like this? (I haven't tested this; it's for example purposes only.)

[code]

[2015-08-12 21:10] tpavlek commented on #250
I submitted a pull containing a starting point in #404

[2015-08-12 22:10] rtheunissen opened #405 "Scrutinizer CI"
With a few recent documentation and code style discussions, I believe it would be valuable to use Scrutinizer CI. Unfortunately I don't have admin access to the repo so someone else will need to get it going. @ramsey

This is the .scrutinizer.yml file that I've used in the past, which I believe will be a good starting point.

[code]

[2015-08-12 22:14] ramsey commented on #405
I don't have admin access to the repo, either, so we'll need to pester one of the repo @thephpleague/owners to help set it up.

[2015-08-12 22:16] ramsey commented on #405
Nevermind. I was trying to sign up with "league/oauth2-client" instead of "thephpleague/oauth2-client." I apparently do have admin access to the repo. :-)

[2015-08-12 22:17] philsturgeon commented on #405
You are master of all you survey.

[2015-08-12 22:28] ramsey commented on #405
Thanks, @philsturgeon, for today's fortune cookie reading!

@rtheunissen This is now working.

[2015-08-12 22:28] #405 closed

[2015-08-12 22:31] rtheunissen commented on #405
Thanks @ramsey. I'll see what I can do to resolve some of the issues that came up. PR's incoming. :)

[2015-08-14 15:56] sidati opened #409 "Thrown Error after successful response"
Hello There,
Im using your code as it for testing, of course with changing application (Google App) ID/Secret, i Do get the user info but i get also this error :
<code>Fatal error:  Uncaught invalid_grant: invalid_grant
  thrown in /var/www/api/vendor/league/oauth2-client/src/Provider/AbstractProvider.php on line 209</code>

Im not sure how fix it :)

Best,
Sidati

[2015-08-14 16:53] ramsey commented on #409
What grant type are you using? Can you share some of the code?

[2015-08-14 18:24] sidati commented on #409
same code you provide in the readme.md file, the only thing i changed is clienID, clientSecret and redirectUri :
<code>

		require __DIR__ . '/vendor/autoload.php';
		$provider = new League\OAuth2\Client\Provider\Google([
			'clientId' => 'xxxxxx',
			'clientSecret' => 'xxxxxxxx',
			'scopes' => ['profile', 'email'],
			'redirectUri' => 'http://xxxxxxxxxx'
		]);

		if (!empty($_GET['error'])) {

[2015-08-14 18:30] ramsey commented on #409
What version of oauth2-client are you trying to use?

[2015-08-14 18:33] sidati commented on #409
This one :
<code> "league/oauth2-client": "0.12.1</code>

[2015-08-14 18:36] ramsey commented on #409
I'm betting it's caused by these lines:

    $grant = new \League\OAuth2\Client\Grant\RefreshToken();
    $token = $provider->getAccessToken($grant, ['refresh_token' => $refreshToken]);

For your purposes, you probably don't need these lines. They're just part of the example.

As for the error, it may be because Google doesn't accept `refresh_token` as a grant type, but @shadowhand will know more

[2015-08-14 18:43] shadowhand commented on #409
@ramsey Google does support refresh tokens, but the example doesn't work directly, as you have to copy the refresh token out of the original `$token`.

[2015-08-14 18:45] ramsey commented on #409
Ah, right. It should be `$token->refreshToken` instead of `$refreshToken`.

@sidati, let us know if that fixes your issue.

[2015-08-14 19:04] sidati commented on #409
Sorry that part is already commented i only wrote it for test reasons :
http://api.sidati.com/?key=&redirect=http%3A%2F%2F127.0.0.1%2Fwordpress%2F&network=google

[2015-08-14 19:08] sidati commented on #409
My app just give the user the ability to signin/login google account, so i just need to receive the user info for once, no need to a 2nd call (refresh token)

[2015-08-16 13:49] craftpip opened #411 "Get user's email address, Bitbucket"
I'm using Bitbucket provider,
When i do ```$provider->getResourceOwner($token)``` it doesn't contain email even though i've marked to read user email in consumer panel.

Can anyone please help me out.

[2015-08-16 13:52] craftpip commented on #411
Nevermind, i found the API for it,
https://confluence.atlassian.com/display/BITBUCKET/user+endpoint+2.0

Thank you.

[2015-08-16 13:52] #411 closed

[2015-08-19 23:20] #250 closed

[2015-08-19 23:20] #386 closed

[2015-08-20 19:14] #409 closed

[2015-08-22 05:05] ken8203 opened #413 "About GenericProvider.php"
Hello,

I was confused about the function getResourceOwnerDetailsUrl() of GenericProvider.php.
Shoud it be
[code]
or the original one?
[code]

When I used the original one, I always got an error.

Thanks!!

[2015-08-22 05:11] shadowhand commented on #413
What service are you using with GenericProvider? By default, GenericProvider uses the `Authorization` header to send the access token to the service, rather than a query string.

[2015-08-22 06:06] ken8203 commented on #413
Okay, i got it!
Btw, I use my own oauth2 server built with oauth2-server-laravel.

Thank you a lot!

[2015-08-23 18:25] muhammedfatih opened #414 "Request or QueryString Parameters Pass"
I try to use this library for my own Rest Service with OAuth 2.0 security. Even though I perfectly use it to get authentication tokens or refreshing them or getting service response without any parameter necessity, I can not make any request for service with parameters.

My request test page code is
[code]

Can anybody help me how to request a service with parameter?

[2015-08-24 16:26] stevenmaguire commented on #414
If your service is using Authorization headers it appears as if your token may not actually be included in the authenticated request. This is likely a problem with the design of the generic provider, rather than the client project itself. The `getAuthorizationHeaders ` currently returns an empty array regardless of the token provided. When building a specific provider, this method is often impleme

[2015-08-24 21:27] shadowhand commented on #414
@stevenmaguire that doesn't quite make sense because the [authorization headers are added](https://github.com/thephpleague/oauth2-client/blob/cd64ef49e6b44660fed5c25efb2b22556deb787d/src/Tool/BearerAuthorizationTrait.php#L30-L33) via the [`BearerAuthorizationTrait`](https://github.com/thephpleague/oauth2-client/blob/cd64ef49e6b44660fed5c25efb2b22556deb787d/src/Provider/GenericProvider.php#L29).

[2015-08-25 05:46] muhammedfatih commented on #414
No luck, It does not work any way. If you trace you can see Guzzle Requeset Options does not work for this repo.

First of all, [Guzzle does not have any query options](https://github.com/thephpleague/oauth2-client/blob/1b0fe447ae474bcfd83f3f8578ce45f5077f2630/src/Tool/RequestFactory.php), it is "body" most high probability.

Secondly even if you make **query**, **body** it does not work again, be

[2015-08-25 06:14] shadowhand commented on #414
It would help us debug if you showed specifically what is not working. What exactly do you mean by "parameters"?

[2015-08-25 06:19] muhammedfatih commented on #414
Parameters I meant area QueryString and Request Values, the values that I can send with POST and GET methods.

In this case, for instance I want to filter my order list (the service I call above) according to some queryString values such as costumerName. How to pass this queryString value?

[2015-08-25 12:35] tom4dev opened #415 "league/oauth2-google "Your requirements could not be resolved to an installable set of packages.""
I've got an error when trying to get league/oauth2-google by composer:
[code]

ps: i've already the league/oauth2-client package (~1.0)

Any help ?

[2015-08-25 14:21] shadowhand commented on #415
Please report this against the @thephpleague/oauth2-google repository.

[2015-08-25 15:11] shadowhand commented on #414
You should be able to put them right in the URL:

[code]

[2015-08-25 15:34] muhammedfatih commented on #414
How to post parameters? This only allow me sending queryStrings(via GET Method) not POSTing parameters. I also need POST Method.

How to pass POST parameters via ```$provider-> getAuthenticatedRequest('POST', $url, $token);``` way?

I want to send product and limit parameters via POST.

[2015-08-25 15:49] shadowhand commented on #414
@muhammedfatih to use form data:

[code]

Or to post a JSON body:

[code]

[2015-08-25 21:10] muhammedfatih commented on #414
Excellent. Thank you so much, it works :)

[2015-08-25 21:15] muhammedfatih commented on #414
Is parameters an array? If so, It does not work :/

[2015-08-25 21:15] muhammedfatih commented on #414
Is parameters an array? If so, It does not work :/

[2015-08-25 21:33] shadowhand commented on #414
Whatever you pass into `$options['body']` must be a string encoded for whatever `Content-Type` you are sending. You could also do this:

[code]

[2015-08-26 05:11] muhammedfatih commented on #414
Perfect! It works, thank you @shadowhand !

A notice for people who have the same problem, I use content-type as ```application/x-www-form-urlencoded```. I can POST something with the code above. To GET something I added my parameters end of the endpoint. Examples:

[code]

[code]

[2015-08-26 05:11] #414 closed

[2015-08-27 22:28] #413 closed

[2015-09-02 15:20] garethellis36 opened #418 "Question about custom provider"
Hello,

I am new to OAuth2 and am trying to use this library to consume an API. I was hoping I could use the GenericProvider class but having played around in POSTMAN and read the docs for the API, it seems that as well as sending the usual bearer token heading, the API expects me to send an additional token (let's call it `app_token`). This token is provided along with the access and refresh toke

[2015-09-02 15:22] shadowhand commented on #418
That seems likely, since the provider is doing more than what is defined in the OAuth spec.

[2015-09-02 17:56] ramsey commented on #418
Yep. This is precisely the reason this library has the AbstractProvider: to make it easier for others to extend, according to functionality required by providers.

[2015-09-02 17:56] #418 closed

[2015-09-04 18:27] MrCoding opened #423 "Just installed newest version with Composer but getting 'Invalid state.'"
Installed the newest version (04-09-2015) with composer:

Add the following to your composer.json file:

{
    "require": {
        "league/oauth2-facebook": "~1.0"
    }
}

And followed with : composer update

Added this to the 'demo' script : require_once __DIR__ . "/vendor/autoload.php";

Now I am getting the error : Invalid state

Anyone any idea why this is happening ?? Thank you in advance,

[2015-09-04 18:33] MrCoding commented on #423
I took this part off from the code like this :

//    unset($_SESSION['oauth2state']);
//    echo 'Invalid state.';
//    exit;

And now suddenly it is working. Isn't that weird ?

[2015-09-04 18:34] shadowhand commented on #423
I'm not sure what "demo" script you are referring to. If there is a bug in [oauth2-facebook](/thephpleague/oauth2-facebook) then you should report it here.

"Invalid state" error usually means one of two things:

1. You did not correctly capture the state before redirecting to authorization.
2. Your server time is significantly off from the provider time.

Commenting out the state check will not s

[2015-09-04 21:30] MrCoding commented on #423
Mr. ShadowHand,

Thank you for your answer. I will check both suggestions. What I meant by 'demo' is my own script where I pasted the code which is provided on the page. So that's why I called it a 'demo' script.

[2015-09-07 10:59] adam-paterson opened #425 "[Question] New Provider"
I've recently done some work with Nectar. They don't offer a public API, only for authorised parties. I've created a provider for our project using oauth2-client. Is it a waste of time doing a PR for this provider since it's very unlikely it'll be used often?

[2015-09-07 10:59] adam-paterson commented on #425
* Edited Title

[2015-09-07 14:06] ramsey commented on #425
We aren't adding new providers to the repo in 1.0. If you created a third-party provider repo, you may add a link to our list here:

https://github.com/thephpleague/oauth2-client/blob/master/README.PROVIDERS.md

[2015-09-07 14:06] #425 closed

[2015-09-07 14:09] adam-paterson commented on #425
@ramsey, that was the question. I've already added Rdio and Slack. However I have another one I've created for a closed API provider. Is it worth me doing a pull request or are you guys trying to limit the third party providers to the most used providers?

[2015-09-07 14:53] tpavlek commented on #425
I think having the absolute highest number of providers will inflate this
packages ePeen so +1 on adding it from me.

On Mon, Sep 7, 2015 at 8:09 AM, Adam Paterson <notifications@github.com>
wrote:

--
Troy Pavlek
Software Developer
http://tpavlek.me

[2015-09-07 14:59] ramsey commented on #425
We're not enforcing any limits. Feel free to add!

[2015-09-10 09:59] EugeneVdovenko opened #431 "Restore AccessToken"
I am store the data from AccessToken in $_SESSION.

When I want restoring AccessToken from $_SESSION
[code]
I can have wrong expires-field, and method hasExpires() returns «true» always.

For example, if user use access_token after expired time, constructor writes to expires-filed
[code]
I mean it's wrong

[2015-09-10 13:37] shadowhand commented on #431
After looking at the code, I can make some sense of this. Basically, the issue is when you construct `AccessToken` from stored values, instead of completely fresh values, it will use the existing expiration time [as a second value](https://github.com/thephpleague/oauth2-client/blob/f4394877eaacf0d949b466f98454557bdca6a215/src/Token/AccessToken.php#L80-L81) instead of as a timestamp.

I'm not reall

[2015-09-11 22:05] ramsey commented on #431
Our `AccessToken` class uses a Unix timestamp for expires, so it should always evaluate correctly. Is the problem that end-users are storing "expires_in" in the database/session and restoring from that causes problems?

[2015-09-12 00:21] shadowhand commented on #431
@ramsey the problem is when the [token expires in the past](https://github.com/thephpleague/oauth2-client/blob/f4394877eaacf0d949b466f98454557bdca6a215/src/Token/AccessToken.php#L81) it is assumed to be "the same as" `expires_in`. We could probably do something sane like:

[code]

... rather than the blind "in the past" check we are doing now. I doubt anyone is issuing tokens that expire in 3+ yea

[2015-09-12 09:55] rtheunissen commented on #431
Hah this is such an interesting case. I can't think of a nicer way than what @shadowhand has suggested. Unless we can somehow specify on a per-provider basis whether the token should use `expires_in` or `expires_at`. Or as an option when constructing the token? Specify either `expires_in`, `expires_at` or `auto`.

[2015-09-12 14:26] stevenmaguire commented on #431
This is an interesting case indeed. When I was writing test cases to bring the package to 100% coverage, it felt odd the way the Token handles the expiration. I'd like the package to remain simple with limited complexity so I like the solution proposed by @shadowhand. I do also like the package to be receptive to consumer intent and the "modes" @rtheunissen proposed would offer a bit of that; the

[2015-09-16 18:17] judgej opened #432 "Is there a Xero add-on/extension?"
Not really a technical question, but I'm looking to interface to [Xero](http://www.xero.com) as a Partner Application. There seem to be many peculiarities with the way the Xero API authenticates, which are not explained, but need to be taken into account to get it to work - it's unclear to me how much of that is standard OAuth and how much has been added by Xero (such as signing certificates and S

[2015-09-16 18:22] shadowhand commented on #432
It seems that [Xero publishes their own](https://github.com/XeroAPI/XeroOAuth-PHP). It is not clear to me if Xero uses OAuth2 or OAuth1, but that library should help you figure it out.

[2015-09-16 18:24] shadowhand commented on #432
It looks like Xero uses OAuth 1.0 and is derived from [tmhOAuth](https://github.com/themattharris/tmhOAuth)

[2015-09-16 18:32] judgej commented on #432
Ah, thanks. It sometimes needs an experienced eye to spot these things. So this library will not work for Xero, because it is strictly OAuth 2?

[2015-09-16 18:32] shadowhand commented on #432
That's correct. And even if Xero was OAuth2, it would not support Xero because it doesn't support 2-legged OAuth.

[2015-09-16 18:40] judgej commented on #432
That gives me a bit of a reading list to follow up :-) It looks like 2-legged OAuth 1 is a bit of a hodge-podge of different implementations, all doing things slightly their own way, and that explains why every Xero library has its own OAuth code built-in instead of *simply* using a library.

Thanks again.

[2015-09-16 18:40] #432 closed

[2015-09-16 18:55] judgej commented on #432
Just a note for the curious and anyone else trying to do the same thing: the offical Xero API library may get the authentication stuff right, but it's written in an old PHP 5.0 style (no namespaces, no release tags, not on packagist) and leaves the parsing of the resources up to you, which is fairly low-level. I have been using [this rewrite of the library](https://github.com/calcinai/xero-php) so

[2015-09-17 13:26] baardbaard opened #433 "Uncaught exception 'InvalidArgumentException' with message 'URI must be a string or Psr\Http\Message\UriInterface'"
Hi,

I use this code to try to get an access token, but I get an InvalidArgumentException:

[code]

Fatal error: Uncaught exception 'InvalidArgumentException' with message 'URI must be a string or Psr\Http\Message\UriInterface' in /Users/stef/Sites/wcmoneybirdplugin/wp/wp-content/plugins/woocommerce-moneybird/vendor/guzzlehttp/psr7/src/Request.php:46 Stack trace: #0 /Users/stef/Sites/wcmoneybirdpl

[2015-09-17 13:45] shadowhand commented on #433
Based on your implementation of `AbstractProvider `, it looks like you are trying to use an older version of OAuth2. The methods `urlAuthorize` and `urlAccessToken` and `urlUserDetails` no longer exist in OAuth2 client v1.0+.

I recommend using the [Implementing Your Own Provider](http://oauth2-client.thephpleague.com/providers/implementing/) documentation to bring your provider up to date.

[2015-09-17 14:29] stevenmaguire commented on #433
Nice catch, @shadowhand! < 30 min triage time for an open source project!

[2015-09-17 17:29] baardbaard commented on #433
Thanks! I'll look into it.

[2015-09-17 17:29] #433 closed

[2015-09-21 21:02] tplaner commented on #370
FYI, with the release of the new client, in order to get a refresh token you have to specify offline access as follows:
[code]
Hope this saves someone time when upgrading.

[2015-09-21 21:08] stevenmaguire commented on #370
Thanks @tplaner! If that fact is not obvious in the README for the Google provider project, please submit a PR over there to make that update. That is great information!

[2015-09-22 15:09] TrafeX commented on #431
What can we do to solve this? I'm also running into this issue which basically means you can't construct an `AccessToken` with an expired expiration date.
The only workaround it I could think of was using the `expires_in` and subtracting the `time()` value of what we have in our datastore.

[2015-09-22 16:19] shadowhand commented on #431
@TrafeX @ramsey PR created.

[2015-09-22 18:20] #431 closed

[2015-09-22 18:21] ramsey commented on #423
@MrCoding Were you able to resolve this?

[2015-09-22 18:21] #415 closed

[2015-09-22 18:21] shadowhand commented on #431
@TrafeX This will go out in v1.0.2.

[2015-09-22 18:27] ramsey commented on #431
And v1.0.2 is now out!

[2015-09-23 06:53] TrafeX commented on #431
@shadowhand @ramsey That was fast, thanks guys!

[2015-09-25 07:10] wasimkham opened #444 "Argument 1 passed to GuzzleHttp\Client::send() must be an instance of GuzzleHttp\Message\RequestInterface, instance of GuzzleHttp\Psr7\Request given, called in ../vendor/league/oauth2-client/src/Provider/AbstractProvider.php on line 600"
Hi there,

I've just downloaded this package and followed the instructions on the readme I'm getting the error:

```Argument 1 passed to GuzzleHttp\Client::send() must be an instance of GuzzleHttp\Message\RequestInterface, instance of GuzzleHttp\Psr7\Request given, called in /vagrant/site/vendor/league/oauth2-client/src/Provider/AbstractProvider.php on line 600```

Here is my code:

[code]

Apprec

[2015-09-25 10:27] garethellis36 opened #445 "Question: handling expired refresh token"
Hello,

I have created my own Provider class which extends AbstractProvider for integrating with a particular service.

I have also created a client lib based on the workflow outlined in the base package readme.

This provider's refresh token expires after 48 hours but there is no exact time given for the expiration in the response when you get an access token in the first place.

My solution to t

[2015-09-25 13:44] ramsey commented on #444
Did you install the package into a project using Composer?

[2015-09-25 13:45] wasimkham commented on #444
Thanks for the quick response. Yes installed with Composer.

[2015-09-25 13:51] ramsey commented on #444
Can you paste the output of `composer show -i` here, so that we can see the versions of the packages you have installed in your project?

[2015-09-25 13:53] wasimkham commented on #444
[code]

[2015-09-25 14:55] ramsey commented on #444
Here's what I was able to dig up. It seems as if you have a Guzzle conflict somewhere. @shadowhand, thoughts?

[In Guzzle 5.x](https://github.com/guzzle/guzzle/blob/5.3.0/src/ClientInterface.php#L118) and 4.x, `GuzzleHttp\ClientInterface::send()` requires a request object of type `GuzzleHttp\Message\RequestInterface`.

[In Guzzle 6.x](https://github.com/guzzle/guzzle/blob/6.1.0/src/ClientInterface

[2015-09-28 12:43] adam-paterson opened #446 "[Question/Advice] Varying resource owner url"
I need to change the resource owner url depending on the grant used. However it's not safe to assume the first grant in the GrantFactory is the grant type used. At the moment I am setting a "linked" property on the provider to define which resource owner url is used.

I want to strip out the "linked" property because the grant type ultimately defines which resource owner url to use.

https://githu

[2015-09-29 00:09] shadowhand commented on #445
Normally access tokens expire fairly quickly and refresh tokens do not expire but are invalidated once used. Since the API you are working with is fairly non-standard, I think what you are doing is probably the best possible situation, based on what you have described.

[2015-09-29 08:37] garethellis36 commented on #445
Thank you.

[2015-09-29 08:37] #445 closed

[2015-10-06 17:29] stevenmaguire commented on #446
Hi @adam-paterson I've forked your solution and am looking into your question a bit. Can you provide a bit more details about the use cases and business logic that you'd like to enforce? Which grant types are you concerned with and how should they be expected to affect the Resource Owner Details Url?

I understand that you'd like to remove the need for the `linked` property and I'd like to know yo

[2015-10-06 17:58] adam-paterson commented on #446
Hey @stevenmaguire, thanks for looking into it with me.

Nectar have two endpoints which we can use as the resource owner (`/collector` and `collectors/CARD-NO/points-balance`). Using the authorisation_code grant this is what Nectar refer to as a "linked" account. This is the easy one. An authorised user has access to 95% of the API.

I'm working on a proof of concept with Nectar/Aimia and for thi

[2015-10-06 18:06] stevenmaguire commented on #446
So, if the grant type is `authorization_code` the resource owner is considered to be "linked", else the resource owner is considered to be unlinked?

[2015-10-06 18:07] adam-paterson commented on #446
They have different endpoints for each grant type across the API. Not just the authorisation. But yeah thats correct.

[2015-10-06 18:08] stevenmaguire commented on #446
Can you share a link for these rules?

[2015-10-06 18:10] adam-paterson commented on #446
I'll have to double check if I'm allowed to provide the API documentation. I can't find it online anywhere and I had to request it in the first place.

[2015-10-12 10:32] AllenJB opened #451 "Website documentation links not working"
All the internal links on http://thephpleague.com/oauth2-client/ are returning 404's - it looks like they're missing the /oauth2-client/ directory from the URL (or adding a leading '/' to what should be relative URLs)

[2015-10-12 13:36] ramsey commented on #451
The official URL should be http://oauth2-client.thephpleague.com/, so those internal links will work. How did you arrive at http://thephpleague.com/oauth2-client/ ?

[2015-10-12 15:29] AllenJB commented on #451
Googled for ['league oauth2 client'](https://www.google.co.uk/search?q=league+oauth2+client)

[2015-10-12 16:18] ramsey commented on #451
I see.

I'm not sure how to fix that. @reinink, is there a way to force a redirect to the canonical URL for the documentation site?

[2015-10-13 10:42] reinink commented on #451
Yup, and I [fixed this](https://github.com/thephpleague/oauth2-client/commit/dc55e28bb5475f2aab61c78b0e71974d3048a99a) for you.

Basically this fix just checks to see if `site.github.url` is present, which means the site is being compiled on GitHub, not locally. If this the case, it sets the `<base>` attribute.

[2015-10-13 10:42] #451 closed

[2015-10-13 13:59] ramsey commented on #451
Thanks!

[2015-10-15 17:19] adam-paterson commented on #446
No longer require advice on this. Nectar won't allow a public repo

[2015-10-15 17:19] #446 closed

[2015-10-15 18:11] stevenmaguire commented on #446
![case closed](http://i.giphy.com/yLlXBR9OMAYjm.gif)

[2015-10-30 19:02] andig opened #452 "Improve docs"
For the slow-thinkers like me it would be helpful to add `session_start();` to the usage example at http://oauth2-client.thephpleague.com/usage/ as the google error message is not very helpful ;)

[2015-10-30 19:16] stevenmaguire commented on #452
Submit a pull request!

[2015-10-30 20:08] andig commented on #452
Hah, didn't realize its a gh page, will do, thanks!

[2015-11-02 20:49] koxon opened #455 "Google id_token"
Hello,

Google is apparently returning an id_token along with the access_token and refresh_token.
See: https://developers.google.com/identity/protocols/OpenIDConnect?hl=en#exchangecode

I don't see this token as part of the returned value from the library.

Am I missing something?

[2015-11-02 20:49] shadowhand commented on #455
I'm not sure what this issue is about, but if it is for the Google provider, you should [report it over there](https://github.com/thephpleague/oauth2-google).

[2015-11-02 20:50] koxon commented on #455
ok thanks:) pressed comment too soon :) Will ask there.

[2015-11-02 20:50] #455 closed

[2015-11-13 15:01] Daanvm opened #458 "Use expires instead of expires_in when serializing access tokens"
As discussed in PR #375, we should serialize `expires` instead of `expires_in` when serializing an access token. When saving a json serialized version of an access token and restore it later, the `expires_in` value isn't correct anymore, but `expires` is.

[2015-11-13 15:07] Daanvm commented on #458
I think this is backwards compatible, because the constructor of `AccessToken` accepts both `expires` and `expires_in`.

[2015-11-13 16:32] #458 closed

[2015-11-13 17:05] ramsey commented on #444
Were you able to resolve this issue?

[2015-11-13 17:05] #423 closed

[2015-11-16 17:12] Surt opened #462 "Using mobile generated access token for authentication"
I'm triying to use an already generated token to ask data to facebook.
the client sends me a token string (from a mobile app where the app already has the token) and I'm triying to use it to get data from facebook in this way

[code]

but it does not work (maybe due to the lack of expiration time, etc?
Does anybody did this before and can help me? Actually I'm triying only for IOS (swift) but in a

[2015-11-16 17:24] shadowhand commented on #462
@Surt instead of sending an `AccessToken` object, just pass the string:

[code]

[2015-11-16 17:36] Surt commented on #462
@shadowhand ```Catchable fatal error: Argument 1 passed to League\OAuth2\Client\Provider\AbstractProvider::getUserDetails() must be an instance of League\OAuth2\Client\Token\AccessToken, string given````

[2015-11-16 23:49] polibou opened #463 "State code with special characters"
I'm not an advance developer so I might not be understanding everything completely.  However, shouldn't the generated state string passed to the auth server be url_encoded?  I'm seeing instances where the state string contains a "+" symbol and using $_GET after returning from the auth server returns a string with spaces instead of the plus sign.  I assume there might be issues with other special c

[2015-11-17 02:38] shadowhand commented on #463
The `state` parameter is passed through the library finally ending by being [passed to `http_build_query` in `getAuthorizationQuery`](https://github.com/thephpleague/oauth2-client/blob/b523109adfdab8ec7d45c7fb2ced16ce36138ca9/src/Provider/AbstractProvider.php#L353). This encodes `+` to `%2B` by default.

[2015-11-17 02:38] shadowhand commented on #463
http://php.net/http_build_query for more information.

[2015-11-17 07:33] hypnotisttom opened #464 "Scope?"
How do I specify a scope?  I'm having a tough time traversing the source code to figure this out...

Thanks,

Tom

[2015-11-17 07:43] stevenmaguire commented on #464
Which provider are you attempting to use?

The `getAuthorizationUrl` method accepts some configuration options. This method will apply declared scopes if available, otherwise it will defer to the default scopes in your specific provider. This happens in the [default provider](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L319) and the default behavior

[2015-11-17 07:46] hypnotisttom commented on #464
I'm trying to do it with the example in the readme. I can't seem to get the
scope array in the right place.
On Nov 17, 2015 2:43 AM, "Steven Maguire" <notifications@github.com> wrote:

[2015-11-17 07:46] stevenmaguire commented on #464
Which provider are you attempting to use?

[2015-11-17 07:50] hypnotisttom commented on #464
GenericProvider.

$provider = new \League\OAuth2\Client\Provider\GenericProvider([
    'clientId'                => 'xxxxxxxxxxxxxxxxxxx',    // The client ID assigned to you by the provider
    'clientSecret'            => 'xxxxxxxxxxxxxxxxxxxxxx',   // The client password assigned to you by the provider
    'redirectUri'             => 'http://<url>',
    'urlAuthorize'            => 'https://19

[2015-11-17 07:56] stevenmaguire commented on #464
The GenericProvider should work just fine, provided the service that is available at https://192.168.1.46:9443 is following the oauth2 spec. In which case the code I provided before should work just fine. You need to declare your scopes prior to requesting an authorization code. The code that you've pasted here is after that step in the process. Look in the readme for the text:

Then within that c

[2015-11-17 08:08] hypnotisttom commented on #464
Ok I will try that.  I thought I could use the client credentials to authenticate instead of the authorization code.  If that's the case, why would I need to redirect to the authentication URL?

I'm trying to set up an app that will be making API calls using a stored trusted application credential.  The code I pasted does actually get an appropriate bearer.

What am I missing here?  (and maybe the

[2015-11-17 08:27] stevenmaguire commented on #464
I see now. I totally missed your intention of using client credentials. I believe you can provide that same configuration array I provided above as the second parameter to the `getAccessToken` method.

[code]

Those options will be sent to the [grant's `prepareRequestParameters` method](https://github.com/thephpleague/oauth2-client/blob/master/src/Grant/AbstractGrant.php#L69) and return some param

[2015-11-17 19:41] polibou commented on #463
Ahh great.  It must be the server I'm testing against that is returning it back un-encoded.  I'm working with an API still in beta.  Thanks for clearing it up.

[2015-11-17 23:21] #463 closed

[2015-11-18 01:30] polibou opened #465 "getAuthenticatedRequest POST options formatting"
Hi,

This is probably a basic question.  I'm having some trouble setting up a POST request after retrieving an access token.  I'm a bit confused on how to properly set the options parameter for a json data in the body.  A code sample on a POST and response would really be helpful.

[code]

Also how exactly is the access_token transmitted? If it isn't already sent through the header can I accommoda

[2015-11-18 04:43] shadowhand commented on #465
How the token is transmitted depends on the provider, though most providers use `Authorization: Bearer <token>`. Normally what you would do is pass the *encoded* (not *decoded*) `body`:

[code]

[2015-11-19 00:00] polibou commented on #465
Thanks shadow, that was enough info for me to make a successful request.

FYI for anyone else.  I'm not sure if the server I'm connecting with is using a non standard implemenatation, but I needed to add the access token in the header.  It wasn't able to connect when adding it as a parameter to the getAuthenticatedRequest method.

[code]

[2015-11-19 13:57] wasimkham commented on #444
@ramsey really sorry for the non-response. It was an issue as I am running 2 versions of Guzzle, I have 2 projects that are interlinking and they require different versions of Guzzle. Annoying I know - haven't worked on this part of the project since so I have no solution - probably not worth sharing as it won't be a common issue. Appreciate the help and apologies for the late response.

[2015-11-19 16:01] shadowhand commented on #465
Then your provider is incorrectly configured, probably not using `BearerAuthorizationTrait`.

[2015-11-19 17:08] stevenmaguire commented on #465
Which provider are you using @polibou?

[2015-11-19 20:35] polibou commented on #465
I'm using the GenericProvider with StitchLabs' API.  They are still in beta so as shardowhand stated they're probably not configured correctly.

[2015-11-19 20:45] stevenmaguire commented on #465
Yep, the `GenericProvider` does use the `BearerAuthorizationTrait`. @shadowhand is right about many things :)

[2015-11-19 21:02] #465 closed

[2015-11-21 22:57] mandado opened #466 "PrepareAccessTokenResponse must be of the type array error"
I trying authenticate with oauth2-client, and give this error
[code]

The code that i used is same of first example in this repository.
Is a bug ? how i can to solve this ?

[2015-11-22 00:03] rtheunissen commented on #466
This is because [`parseResponse`](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L668) can return a `string` or `array` (even though the return typehint is `array`), but [`prepareAccessTokenResponse`](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L711) requires an `array`.

This is something that I addressed

[2015-11-22 00:15] mandado commented on #466
@rtheunissen  i use GenericProvider.

[2015-11-22 00:18] rtheunissen commented on #466
@mandado and the service? StackOverflow (guess based on your project dir)?

If you `var_dump` the value of `$response` [here](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L539), what do you see?

Would need to edit the file in /vendor.

[2015-11-22 00:29] mandado commented on #466
yes, i'm trying authenticate with stackoverflow.

```var_dump``` the value ``` $response``` this return ```access_token=mytokenhere&expires=86199```

[2015-11-22 00:34] rtheunissen commented on #466
Could you also check the value of `$type` [here](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L671)? As a bonus, would be good to see all the headers returned. I think you can use `$response->getHeaders()`.

[2015-11-22 00:40] mandado commented on #466
value ``` $type ``` is 'text/plain; charset=utf-8'

value ``` $response->getHeaders()``` is array of headers from request.

[2015-11-22 02:19] rtheunissen commented on #466
Looks like SE is not setting the correct response headers.

[2015-11-22 02:20] mandado commented on #466
what is SE ? @rtheunissen

[2015-11-22 02:24] rtheunissen commented on #466
Stack Exchange. :)

If they set the correct headers, the provider would parse the string and use the array as expected.

I sent them a tweet as it should be fixed anyway. The question is how we should handle cases where an access token response body can't be parsed (either due to bad headers or an unexpected encoding).

[2015-11-22 02:26] mandado commented on #466
@rtheunissen i saw in documentation about authentication and says nothing about headers :/

[2015-11-22 02:31] rtheunissen commented on #466
@mandado it's something that they are not doing right; nothing you are doing wrong.

[2015-11-22 02:38] mandado commented on #466
@rtheunissen  ahh yes hehehe. how should I proceed ? wait for an answer about this error in this issue ?

[2015-11-22 02:44] rtheunissen commented on #466
Yeah would need to wait for @ramsey and @shadowhand to decide how we handle cases like these.
For now I'd recommend either forking temporarily or using a temporary edited AbstractProvider.php in your /vendor.

[This conditional](https://github.com/thephpleague/oauth2-client/blob/master/src/Provider/AbstractProvider.php#L673) should pass if their headers were set correctly, so adjust that. You coul

[2015-11-22 02:46] mandado commented on #466
@rtheunissen understand, thanks very much for support :) :+1:

[2015-11-23 16:44] peteclark3 commented on #414
Thank u @muhammedfatih

[2015-11-24 15:17] vassagus opened #467 "More client options on Abstract provider."
Please enable more client options on the AbstractProvider.php line 125. I'd like to disable the verify ssl option for the dev environment, but the only parameter available is timeout :(.

I know I can send an instance of the http client in the $collaborators array. However, should be good to expose more parameters and avoid doing that.

[2015-11-26 15:42] auburus opened #469 "Owner url depending on scope"
Hi,

I'm implementing a provider, which has 3 different scopes. For each scope, there is a different `resourceOwnerDetailsUrl`, and I'm not really sure about how should I extend this library to accomplish this
behaviour.

I've thought  to put the `scope1` in the `getDefaultScopes` method, and use the api endpoint relative to this scope in `resourceOwnerDetailsUrl`, but if later a developer doesn't

[2015-11-26 16:16] shadowhand commented on #469
I would create an `abstract AbstractWeirdProvider extends AbstractProvider` and have 3 separate provider implementations:

[code]

Using the class based approach, you could implement everything except `getResourceOwnerDetailsUrl` in `AbstractWeirdProvider` and the API would remain consistent.

[2015-11-26 16:24] tpavlek commented on #469
Second the class based approach. I implemented something similar in the
Battle.net provider https://github.com/tpavlek/oauth2-bnet
On Nov 26, 2015 9:16 AM, "Woody Gilk" <notifications@github.com> wrote:

[2015-12-02 11:39] auburus commented on #469
Hi!

I've finally found some time to work on it. I've implemented the base class approach that both you suggested. You can see it [here](https://github.com/auburus/NetatmoApi#using-resource-owner).

Now I'll have to make all test cases and everything (to reach v1.0), and I will make the pull request to add it to the providers.

Again, many thanks!

[2015-12-02 14:10] shadowhand commented on #469
I would suggest following PSR-2 more strictly. Using something like [static-review](https://github.com/sjparkinson/static-review) can help you find mistakes before you commit.

[2015-12-30 10:20] geekdevs opened #472 "AccessToken::jsonSerialize does not return resourceOwnerId"
`jsonSerialize()` method on `League\OAuth2\Client\Token\AccessToken` does not return `resourceOwnerId` and thus not consistent.

[2015-12-30 15:20] #472 closed

[2015-12-31 15:06] sagikazarmark opened #475 "Introducing HTTPlug"
Hello there,

I am one of the authors of [HTTPlug](http://httplug.io), an HTTP Client abstraction library.

We plan to use this library to implement an OAuth [authentication method](http://docs.httplug.io/en/latest/components/authentication/) for our HTTP Mesage library.

I noticed that you rely directly on Guzzle 6 for the HTTP communication. Would you be interested in using an abstraction instea

[2015-12-31 15:17] shadowhand commented on #475
We were using ivory before. See #315 as to when it was removed. I personally have nothing against HTTPlug but the docs are currently lacking and, as [I have mentioned before][1], not all PSR-7 implementations include all the interfaces, which makes it harder to use HTTPlug as a one-size-fits-all solution.

[1]: https://github.com/satooshi/php-coveralls/issues/80#issuecomment-165829065

[2015-12-31 15:22] sagikazarmark commented on #475
Thanks for the reply @shadowhand. I agree our documentation needs improvement, we are working on it, but there are already examples of usage.

As for the PSR-7 argument: I explained in the issue you linked above that HTTPlug does not rely directly on any PSR-7 implementations. We provide message factory interfaces which standardizes construction logic in order to make adapters/clients implementati

[2016-01-03 17:30] ddeboer commented on #475
@shadowhand [The HTTPlug docs](http://php-http.readthedocs.org/en/latest/) have improved a lot over the last couple of days. Please have a look and tell us if anything is still unclear.

[2016-01-03 17:34] sagikazarmark commented on #475
@shadowhand especially this part should address your concerns:

http://php-http.readthedocs.org/en/latest/httplug/library-developers.html#messages

[2016-01-05 14:14] nesk opened #476 "InvalidArgumentException thrown when the verification code is expired"
When the verification code is expired, the response from Github is:

[code]

Then, you try to create a new instance of the `AccessToken` class by providing the above response. Which fails with an `InvalidArgumentException`.

Couldn't we handle this in a more nicer way?

[2016-01-05 14:16] shadowhand commented on #476
This should be reported to @thephpleague/oauth2-github

[2016-01-05 14:30] nesk commented on #476
I'm not sure about this, my example is about Github but the issue could affect other services.

[2016-01-05 14:31] shadowhand commented on #476
Honestly, I don't really see a problem with this. If you try to create an access token with invalid data, it *should* throw an error. What would you suggest be done differently?

[2016-01-05 14:31] shadowhand commented on #476
cc @stevenmaguire

[2016-01-05 14:34] nesk commented on #476
It should throw an exception dedicated to this case. Currently, I can't access the error message provided by Github.

[2016-01-05 14:37] shadowhand commented on #476
In this case, I'm fairly sure that the error should be getting trapped by [`checkResponse`](https://github.com/thephpleague/oauth2-github/blob/67f394f40fdb362174149393daabf5d87d67ade4/src/Provider/Github.php#L87-L96) but isn't for some reason. Hence why I suggested this was a problem with oauth2-github.

[2016-01-06 00:27] stevenmaguire commented on #476
I agree with @shadowhand, let's move this conversation to oauth2-github. Please open an issue over there and I will do my best to help. If you are up for the task, you could skip the issue phase and submit a PR with a fix.

[2016-01-06 09:30] #476 closed

[2016-01-06 21:11] bmanza commented on #444
Would you mind sharing @ramsey , I am having the exact same issue.

[2016-01-06 21:15] wasimkham commented on #444
@bmanza I have 2 different frameworks that work together, and they both have their own composer file. They both have different versions of Guzzle required.

[2016-01-06 21:55] shadowhand commented on #444
We can't support older versions of Guzzle.

[2016-01-14 10:35] nspyke commented on #466
This is still an issue.

This is an intermittent issue, but usually happens after a session timeout.
In this case, I left my browser open overnight, reloaded the page in the morning, and then received this exception.
If I reload the page again after the exception, everything works as expected.

I'm using Silex, running on PHP 5.6.15, Ubuntu 14.04, Nginx, PHP-FPM.

Stack trace
[code]
Stack trace sc

[2016-01-14 10:41] nspyke opened #478 "[Bug] GenericProvider::createResourceOwner() must be of the type array, string given"
This is an intermittent issue, relating to #466, but usually happens after a session timeout.
In this case, I left my browser open overnight, reloaded the page in the morning, and then received this exception.
If I reload the page again after the exception, everything works as expected.

I'm using Silex, running on PHP 5.6.15, Ubuntu 14.04, Nginx, PHP-FPM and league/oauth2-client v1.1.0

Stack tra

[2016-01-14 17:04] lonnieezell opened #479 "Revoking Access to Client?"
I'm trying to provide clients the ability to revoke the authorization token for the application so that they would have to go through the login process again. Is there a way to do so with this library? I can't find one.

For example, with Facebook we'd have to send an HTTP DELETE request to /PROFILE_ID/permissions.

[2016-01-14 17:20] shadowhand commented on #479
That's entirely up to the provider you are authorizing against. This library only provides an abstraction of the standard OAuth2 spec, which does not include any standard for revoking tokens outside of normal expiration.

[2016-01-14 17:22] lonnieezell commented on #479
Bummer. Thanks for the response. Would be a nice addition to simple have a 'revoke()' method in the AbstractProvider so other providers can implement, though.

[2016-01-14 18:46] stevenmaguire commented on #479
You could also use the `getAuthenticatedRequest`.

[code]

[2016-01-15 00:43] sathyacse67 commented on #464
I want to send email using gmail. How and where can I edit the scopes?
Give some example scopes (or) link.
By default, It allows only to view basic information.

[2016-01-23 20:26] sahilr2050 opened #480 "How to use access_token?"
Hello All,

I am new to using oAuth magical method.

I have made some script which is work like below.

First of all i pass this url in Rest API Client.

http://www.example.com/index.php&response_type=code&client_id=articles&state=xyz

From this url i got following result.

http://www.example.com/index.php?code=ea1c1e0dab5b2aa667210fb33cba6615cf00d5c7&state=xyz

By using the code=ea1c1e0dab5b2aa66

[2016-01-28 14:14] stephen-talari opened #481 "Why redirectUri, urlAuthorize are required in Password grant"
Why redirectUri, urlAuthorize are required in Resource Owner Password Credentials Grant?
Can we set all these to the same value as in urlAccessToken ?

[2016-02-01 06:55] stephen-talari commented on #481
Any help ?

[2016-02-01 14:45] ramsey commented on #479
Since it's non-standard, I don't think a `revoke()` method on the AbstractProvider is necessary. However, you might propose that the [league/oauth2-facebook](https://github.com/thephpleague/oauth2-facebook) provider add a `revoke()` method that does exactly what @stevenmaguire suggests. :-)

[2016-02-01 14:45] #479 closed

[2016-02-01 14:51] ramsey commented on #481
I assume your question is related to the use of the GenericProvider? If not, which provider are you using?

[2016-02-01 14:54] ramsey commented on #480
From your code example, you are using classes named "OAuth2_Request" and "OAuth2_Response." These are not classes provided by the [league/oauth2-client](https://github.com/thephpleague/oauth2-client) library. Unfortunately, we can't provide help if you're using a different library.

What OAuth2 library are you trying to use?

[2016-02-01 15:04] sahilr2050 commented on #480
Thank you for reply i am using bshaffer  library

Sent from Outlook Mobile

On Mon, Feb 1, 2016 at 6:54 AM -0800, "Ben Ramsey" <notifications@github.com> wrote:

From your code example, you are using classes named "OAuth2_Request" and "OAuth2_Response." These are not classes provided by the league/oauth2-client library. Unfortunately, we can't provide help if you're using a different library.

Wha

[2016-02-01 15:23] ramsey commented on #480
I recommend opening an issue on Brent's library, then. I'm sorry, but we won't be able to help here.

You may go here to open an issue and ask: https://github.com/bshaffer/oauth2-server-php

[2016-02-01 15:23] #480 closed

[2016-02-01 15:39] ramsey commented on #478
I'm afraid that casting to an array might cause your application to be in an undefined state. If the GenericResourceOwner does not receive an array, I don't want the library to assume all is well and create an empty resource owner.

I think the error handling for this should happen in your application. If a second reload of the page works fine, it sounds like the first load doesn't have a populate

[2016-02-01 16:47] ramsey commented on #466
Sorry, just now reading through this thread…

The GenericProvider only works for providers that don't deviate from the OAuth2 specification. If a provider deviates, you'll need to extend AbstractProvider and create your own provider. Take a look at the [provider guide](https://github.com/thephpleague/oauth2-client/blob/master/README.PROVIDER-GUIDE.md) for how to do this.

Additionally, maybe a fat

[2016-02-01 16:49] ramsey commented on #475
Is there a specific advantage in switching the HTTP client library that we use? I'm not opposed to changing. I just want to understand the benefits of using something else and why we should make this change.

Thanks!

[2016-02-01 16:50] #469 closed

[2016-02-01 16:54] shadowhand commented on #466
There's really nothing we can do about SE not providing the correct headers. We might want to throw an exception if no acceptable parsing method is found, instead of just returning the response directly. This would avoid that fatal and place the burden on the server and developer. At least a try/catch can be used to trap the problem.

[2016-02-01 16:55] ramsey commented on #467
I think the best option is to instantiate your own HttpClient and pass that in the `$collaborators` array, as you've already pointed out. We've provided that flexibility for use cases such as this.

For most use cases, users should not disable the verify SSL option, so we don't want to expose that as a feature.

[2016-02-01 16:55] #467 closed

[2016-02-01 16:59] ramsey commented on #464
@sathyacse67 Please ask your question over on the [league/oauth2-google](https://github.com/thephpleague/oauth2-google) client provider repository. You'll be able to get help there for using OAuth2 scopes with Google. Thanks!

[2016-02-01 16:59] #464 closed

[2016-02-01 16:59] ramsey commented on #462
@Surt, were you able to resolve this issue?

[2016-02-01 17:00] #452 closed

[2016-02-01 17:00] #444 closed

[2016-02-01 17:25] sagikazarmark commented on #475
There is one key feature which I would mention here from a library point of view: Abstraction (and the benefits coming with it)

HTTPlug (or probably any client abstraction supporting PSR-7) has a small interface which is the bare minimum for sending HTTP requests. By using an abstraction, your library is not tied to any implementation. Even if you choose to install one with the package, you can e

[2016-02-01 17:54] ramsey commented on #475
What would be the BC impact to this library to switch to HTTPlug?

Currently, we allow users to inject their own HTTP client, and to retrieve the HTTP client being used, in order to manipulate it. I assume these would be BC breaks?

References:
* [AbstractProvider::setHttpClient()](https://github.com/thephpleague/oauth2-client/blob/b6819280026417c582e999c3edb9262fcd233e58/src/Provider/AbstractProv

[2016-02-01 21:12] sagikazarmark commented on #475
For the long term: yes. Those would be BC breaks (but personally I think that getter/setter should go away. The constructor should be the only injection point).

However, for the long term, you can migrate to HTTPlug internally. This means, that you have to install our guzzle6-adapter and inject the Guzzle client into that. After that, you can use that adapter internally (which implements our inte

[2016-02-01 22:38] ramsey commented on #475
The BC breaks are what I was afraid of. This is a major change you're proposing, and I'm not convinced of the value it provides. I do see the value of the abstraction; I don't see the value in breaking BC for it. :-)

I'm open to reviewing a pull request to see how you're thinking this would work.

I think 2.0 is a long way off, unless the rest of the league/oauth2-client provider community sees s